@import "variable.css";
@media only screen {
    /* tenant list */
    ul.tenantCardList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    ul.tenantCardList li {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 6px;
        margin-bottom: 12px;
    }
    .tenantCardBox {
        padding: 12px;
        position: relative;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        background-color: var(--white);
        border-radius: 5px;
    }
    .tenantCardHeader {
        padding: 8px 10px 5px 100px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
    }
    .tenantCardImage {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80px;
        height: 80px;
        border: 2px solid var(--borderColor);
        border-radius: 10px;
    }
    .tenantCardImage img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        border-radius: 10px;
    }
    .tenantCardHeader h5 {
        font-size: 16px;
        margin-bottom: 7px;
        color: var(--darkThemeColor);
        font-weight: 500;
        text-transform: capitalize;
        line-height: normal;
    }
    .tenantCardHeader p {
        margin: 0 0 5px;
        color: var(--contentColor);
        font-size: 13px;
        line-height: 20px;
    }
    .tenantCardHeader p:last-of-type {
        margin-bottom: 0;
    }
    .tenantCardHeader p i {
        margin-right: 10px;
    }
    .tenantCardHeader .pageListDropdown {
        top: -5px;
        right: -5px;
    }
    .tenantCardHeader .pageListDropdownMenu li {
        margin-bottom: 0;
        font-weight: 400;
    }
    .tenantCardBody {
        position: relative;
        padding: 5px 5px 7px;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--borderColor);
    }
    .tenantCardBody p {
        font-size: 12px;
        color: var(--contentColor);
        margin-bottom: 3px;
        line-height: 20px;
    }
    .tenantCardBody p strong {
        margin-right: 5px;
    }
    .tenantCardBody ul {
        position: relative;
        padding-left: 45px;
        flex-wrap: nowrap;
        overflow: hidden;
        min-height: 38px;
    }
    .tenantCardBody ul strong {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-size: 12px;
        color: var(--contentColor);
    }
    .tenantCardBody ul li {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        line-height: 28px;
        font-size: 11px;
        font-weight: 500;
        color: var(--darkThemeColor);
        background-color: #ccd9ff;
        flex: none;
        max-width: none;
        padding: 0;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        margin: 5px 6px 5px 0;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .tenantCardBody .btn-transparent {
        position: absolute;
        bottom: -15px;
        right: 0;
        cursor: default;
    }
    .tenantCardBody .btn-transparent:hover {
        box-shadow: none;
        transform: none;
    }
    .tenantCardFooter ul li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 10px 10px 0;
        border-right: 1px solid var(--borderColor);
        text-align: center;
        margin-bottom: 0;
    }
    .tenantCardFooter ul li:last-of-type {
        border-right: 0;
    }
    .tenantCardFooter ul li h5 {
        font-size: 13px;
        color: var(--textColor);
        margin: 0 0 5px;
    }
    .tenantCardFooter ul li p {
        font-size: 10px;
        margin: 0;
        color: #a9a9a9;
    }
    /* end tenant list */

    /* packages */
    .packageCard {
         border: 1px solid var(--borderColor);
         background-color: var(--white);
    }
    ul.packageCardHeader li,
    .packageCardBodyInner h5 {
        padding: 10px;
        border-right: 1px solid var(--borderColor);
        flex: 0 0 23%;
        max-width: 23%;
        border-bottom: 1px solid var(--borderColor);
        text-align: center;
        font-weight: 500;
        position: relative;
    }
    ul.packageCardHeader li {
        padding-bottom: 5px;
    }
    ul.packageCardHeader li:first-of-type,
    .packageCardBodyInner h5:first-of-type {
        flex: 0 0 31%;
        max-width: 31%;
        text-align: left;
        font-weight: 400;
    }
    ul.packageCardHeader li:last-of-type,
    .packageCardBodyInner h5:last-of-type {
        border-right: 0;
    }
    ul.packageCardHeader:last-of-type li,
    .packageCardBodyInner:last-of-type h5 {
        border-bottom: 0;
    }
    ul.packageCardHeader li h4 {
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    ul.packageCardHeader li:nth-child(2) h4 {
        color: var(--yellow);
    }
    ul.packageCardHeader li:nth-child(3) h4 {
        color: var(--orange);
    }
    ul.packageCardHeader li:nth-child(4) h4 {
        color: var(--green);
    }
    ul.packageCardHeader li p {
        margin: 0;
        font-size: 12px;
        font-style: italic;
        color: var(--blue);
    }
    ul.packageCardHeader li .checkboxLabel {
        position: absolute;
        top: -10px;
        left: -7px;
        min-height: 20px;
        line-height: 20px;
    }
    ul.packageCardHeader li .checkboxLabel .checkmark {
        width: 20px;
        height: 20px;
    }
    .packageCardBodyInner h5 {
        margin: 0;
        font-size: 13px;
        color: var(--contentColor);
    }
    .cardStar {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color:var(--yellow);
    }
    /*end*/
    
    /* home page */
    ul.counterList {
        padding: 0;
        margin: 0 0 3px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    ul.counterList li {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 5px 10px;
    }
    .counterCard {
        position: relative;
        padding: 12px 100px 12px 25px;
        background-color: var(--white);
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .counterCard .counterIcon {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        right: 15px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-image: linear-gradient(#22437C, #22437C, #0A2446);
        border: 2px solid var(--borderColor);
        transition: all ease-in-out 0.4s;
    }
    .counterCard .counterIcon i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f2f0f1;
        font-size: 18px;
    }
    .counterCard  .counterContent p {
        margin: 0;
        color: var(--contentColor);
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    .counterCard  .counterContent h4 {
        margin: 0 0 4px;
        font-weight: 600;
        color: var(--darkThemeColor);
    }
    .counterCard:hover {
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
    .counterCard:hover .counterContent p,
    .counterCard:hover .counterContent h4 {
        color: var(--themeColor);
    }
    .counterCard.calenderIconCard{
        background-image: linear-gradient(#22437C, #22437C, #0A2446);
    }
    .counterCard.calenderIconCard .counterIcon {
        background: transparent;
    }
    .counterCard.calenderIconCard .counterIcon i {
        font-size: 35px;
    }
    .counterCard.calenderIconCard .counterContent,
    .counterCard.calenderIconCard .counterContent  p{
        color: var(--white);
    }
    .usageList {
        padding: 20px 0 15px;
    }
    .usageListContent {
        border-right: 1px solid var(--borderColor);
        padding: 0 20px;
        text-align: center;
        position: relative;
    }
    .usageListContent .circleProgressBar {
        width: 50%;
        margin: 0 auto;
    }
    .usageListContent h1 {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        font-size: 50px;
        font-weight: 500;
        color: var(--darkThemeColor);
    }
    .usageListContent h1 span {
        font-size: 28px;
        margin-left: 5px;
    }
    .usageListContent h5 {
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        font-size: 13px;
        color: var(--contentColor);
    }
    /* end home page */
    .landingCard {
        border: 0;
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
        transition: all .4s ease;
    }
    .landingCard:hover {
        box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1);
        transition: all .4s ease;
    }
    .landingCardbody {
        padding: 0px 20px 20px 20px;
    }
    .landingCardHeader {
        position: relative;
        padding: 15px 30px 15px 15px;
        background: transparent;
    }
    .landingCardHeader h5 {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
    }
    .landingCardHeader h5 .dropdown-toggle {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    .landingCardHeader h5 .dropdown-toggle:after {
        display: none;
    }
    .landingImage {
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
    .landingImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .landingCardContent p {
        margin: 0;
        font-size: 12px;
        padding: 4px 30px 4px 4px;
        position: relative;
    }
    .landingCardContent p span {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-weight: 600;
        font-size: 14px;
    }
    /* end */

   /*view tenant css */
    .viewImageBox {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .viewImageBox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .ProfileCard {
        border: 0;
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    }
    .ProfileCard  .ProfileCardBody {
        padding: 10px;
    }
    .ProfileCard  .ProfileHeader {
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid var(--borderColor);
        font-size: 14px;
        font-weight: 400;
        color: var(--blackColor);
        text-transform: uppercase;
    }
    .ProfileCardBodyContent {
        padding: 10px;
    }
    .ProfileCardBodyContent ul {
        padding: 15px 10px 10px 0px;
        margin: 0;
        list-style: none;
    }
    .ProfileCardBodyContent ul li:not(:last-child) {
       display: block;
        margin-bottom: 5px;
    }
    .ProfileCardBodyContent p {
        margin: 0;
        color: var(--contentColor);
        font-size: 12px;
    }
    .ProfileCardBodyContent ul li p i {
        color: var(--themeColor);
    }
    .ProfileCardBodyContent ul li p span {
        margin-left: 15px;
        color: var(--contentColor);
        font-size: 12px;
    }
    .ProfileCardBodyContent ul li p .profileStart i {
        color: var(--yellow) !important;
    }
   /*end*/

    /* new connectors css */
    .connectorBorder {
        border-right: 1px solid var(--borderColor);
    }
    .connectorBox ul {
        padding:0;
        margin: 0;
        list-style-type: none;
    }
    .connectorBox ul li {
        display: block;
        padding: 5px;
    }
    .connectorHeader {
        position: relative;
        border-bottom: 1px solid var(--borderColor);
        margin-bottom: 5px;
        padding: 5px;
    }
    .connectorHeader .badge-light {
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        width: 28px;
        line-height: 1.8;
        background-color: #E5E7E9;
        border-radius: 10px;
        color: var(--green);
    }
    .connectorHeader p {
        display: inline-block;
        margin: 0;
        font-size: 13px;
        color: var(--textColor);
        font-weight: 500;
    }
    .connectorBox {
        height: calc(100vh - 195px);
        overflow: auto;
    }
    .connectorInnerBox {
        background-color: #ffffff;
        position: relative;
        border-radius: 4px;
        border: 1px solid #f1f1f1;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all .4s ease;
        padding-top: 15px;
    }
    .connectorInnerBox:hover {
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transform: translateY(-2px);
        transition: all ease-in-out 0.3s;
    }
      .connectorImageBox {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin: 0 auto;
          border: 1px solid var(--borderColor);
          padding: 10px;
      }
    .connectorImageBox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .connectorContentBox {
        text-align: center;
        margin: 5px 0 15px 0;
    }
    .counnterFooter p,
    .connectorContentBox h6 ,
    .connectorContentBox p {
        margin: 0;
    }
    .connectorContentBox h6 {
        font-size: 13px;
        font-weight: 500;
        color: var(--blackColor);
        text-transform: uppercase;
    }
    .connectorContentBox p {
        font-size: 10px;
        font-weight: 400;
        color: #979A9A;
    }
    .counnterFooter {
        border-top: 1px solid var(--borderColor);
        padding: 15px;
        position: relative;
    }
    .counnterFooter:after {
        content: " ";
        position: absolute;
        height: 30px;
        border: 1px solid var(--borderColor);
        top: 0;
        left: 50%;
        transform:translateX(-50%);
    }
    .counnterFooter p span {
        font-size: 12px;
        color: var(--contentColor);
    }
    .counnterFooter p span i {
        margin-right: 10px;
    }
    .counnterFooter .sourceCounter,
    .counnterFooter .sinkCounter {
        font-weight: 600;
        color: var(--themeColor);
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 13px;
    }
    .counnterFooter .sourceCounter {
        position: absolute;
        right: unset;
        left: 10px;
    }
    .connectorInnerBox .btn-light {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 80px;
        height: 35px;
        width: 35px;
        background-color: #E5E7E9;
    }
    .connectorInnerBox .btn-light i {
        position: absolute;
        top: 8px;
        left: 14px;
        color: var(--themeColor);
    }
    /* end */
}
