@media only screen {
    /* app dashboard */
    .appContentBox {
        padding-left: 200px;
    }
    .appContentBox .outerBox {
        padding: 0 0 20px 10px;
    }
    .appSideNav {
        width: 200px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(#22437c,#22437c,#0a2446);
        z-index: 2;
        box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.1);
    }
    .appSideNav .appLogo{
        background-color: rgba(255, 255, 255, 0.2);
        padding: 13px 10px;
    }
    .appSideNav .appLogo h4 {
        font-size: 17px;
        color: var(--white);
        margin: 0;
        font-weight: 400;
        text-align: center;
    }
    .appSideNav ul.appMenuList {
        padding: 0;
        margin: 20px 0;
        overflow-y: auto;
    }
    .appSideNav ul.appMenuList li a {
        padding: 10px 15px 10px 30px;
        display: block;
        font-size: 14px;
        color: var(--borderColor);
        text-transform: capitalize;
        margin-bottom: 10px;
        position: relative;
    }
    .appSideNav ul.appMenuList li a::before {
        content: '\27A4';
        position: absolute;
        top: 12px;
        left: 10px;
        font-size: 12px;
    }
    .appSideNav ul.appMenuList li a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--white);
        text-decoration: none;
    }
    .appSideNav ul.appMenuList li ul {
        list-style: none;
    }
    .appSideNav ul.appMenuList li ul li a {
        padding-left: 22px;
    }
    .appSideNav ul.appMenuList li ul li a::before {
        content: '\2014';
        left: 5px;
    }
    .appSideNavFooter {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 170px;
        text-align: center;
        padding: 10px;
    }
    .appSideNavFooter p {
        font-weight: 300;
        color: var(--borderColor);
        font-size: 12px;
    }
    .appSideNavFooter p strong {
        font-weight: 500;
    }
    .appSideNavFooter i {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        color: var(--borderColor);
    }
    .appContentBox .pageBreadcrumb {
        top: 0;
        left: 200px;
    }
    .appContentBox .loaderBox {
        top: 47px;
        left: 200px;
    }
    .appLogoutButton {
        position: fixed;
        top: 7px;
        right: 10px;
    }
    .appLogoutButton .btn-transparent-primary {
        background-color: var(--themeColor);
        color: var(--white);
        width: 32px;
        height: 32px;
    }
    .appLogoutButton .btn-transparent-primary i {
        font-size: 15px;
    }
    /* end app dashboard */
    
    /* app login */
    .appLoginBox {
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        left:0;
        background-size: cover;
        background-image: url("../newImages/83IncsBackground.png");
        height: 100vh;
    }
    .appLoginOverlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        opacity: 0.6;
    }
    .appLoginBox .appLoginInnerBox{
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #f1f1f1;
        border-radius: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        padding: 10px 400px 10px 10px;
    }
    .appLoginForm {
        background-color: var(--darkThemeColor);
        padding: 50px 30px;
        border-radius: 10px;
        position: absolute;
        width: 400px;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .appLoginForm .appLoginFormBg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .appLoginForm .appLoginFormBg img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .appLoginHeader h4 {
        font-size: 20px;
        text-align: right;
        font-weight: 300;
        margin-bottom: 30px;
        color: var(--borderColor);
    }
    .appLoginHeader h4 strong{
        font-weight: 400;
        margin-left: 7px;
    }
    .appLoginForm .form-group label {
        font-weight: 300;
        font-size: 13px;
        color: var(--borderColor);
    }
    .appLoginForm .form-control {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        color: var(--white);
        font-size: 14px;
        padding: 10px 20px;
        font-weight: 400;
        border: 1px solid var(--borderColor);
    }
    .appLoginForm .btn-primary {
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        border: 2px solid #1864e7;
        border-radius: 25px;
        text-transform: uppercase;
        padding: 10px 20px;
        width: 40%;
    }
    .appLoginContent {
        padding: 50px 30px;
        text-align: center;
    }
    .appLoginContent .sideBar {
        width: 12px;
        height: 90%;
        border-radius: 7px;
        background-color: #0F406F;
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
    }
    .appLoginContent .sideDesign {
        width: 300px;
        height: 160px;
        background-image: url('../images/Path 1.png');
        background-size: cover;
        position: absolute;
        top:-5px;
        left:-5px;
        z-index: -1;
        border-radius: 10px;
    }
    .appLoginDetail h1 {
        color: var(--darkThemeColor);
        font-weight: 400;
        margin-bottom: 15px;
    }
    .appLoginDetail h1 strong {
        color: var(--themeColor);
        font-weight: 500;
    }
    .appLoginDetail h5 {
        font-size: 14px;
        color: var(--textColor);
        margin: 0 0 20px;
        font-weight: 500;
    }
    .appLoginDetail p {
        font-size: 13px;
        color:var(--contentColor);
        text-align: center;
        padding: 10px 20px;
        line-height: 24px;
    }
    /* end app login */
}


