@import "variable.css";
@media only screen {
    html, body {
        margin: 0;
        padding: 0;
        background-color: #fafafa;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        min-width: 767px;
    }
    p, label, h1, h2, h3, h4, h5, h6, a, span, input {
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 400;
    }
    strong {
        font-weight: 600;
    }
    input, textarea, button, input:hover, textarea:hover, button:hover, input:focus, textarea:focus, button:focus {
        outline: none !important;
    }
    .fw100 {
        font-weight: 100 !important;
    }
    .fw100i {
        font-weight: 100 !important;
        font-style: italic !important;
    }
    .fw200 {
        font-weight: 200 !important;
    }
    .fw200i {
        font-weight: 200 !important;
        font-style: italic !important;
    }
    .fw300 {
        font-weight: 300 !important;
    }
    .fw300i {
        font-weight: 300 !important;
        font-style: italic !important;
    }
    .fw400 {
        font-weight: 400 !important;
    }
    .fw400i {
        font-weight: 400 !important;
        font-style: italic !important;
    }
    .fw500 {
        font-weight: 500 !important;
    }
    .fw500i {
        font-weight: 500 !important;
        font-style: italic !important;
    }
    .fw600 {
        font-weight: 600 !important;
    }
    .fw600i {
        font-weight: 600 !important;
        font-style: italic !important;
    }
    .fw700 {
        font-weight: 700 !important;
    }
    .fw700i {
        font-weight: 700 !important;
        font-style: italic !important;
    }
    .fw800 {
        font-weight: 800 !important;
    }
    .fw800i {
        font-weight: 800 !important;
        font-style: italic !important;
    }
    .fw900 {
        font-weight: 900 !important;
    }
    .fw900i {
        font-weight: 900 !important;
        font-style: italic !important;
    }
    .hg100 {
        height: 100% !important;
    }
    .hg-auto {
        height: auto !important;
    }
    .w-90 {
        width: 90% !important;
    }
    .w-auto {
        width: auto !important;
    }
    .cursor-pointer {
        cursor: pointer !important;
    }
    .cursor-default {
        cursor: default !important;
    }
    .cursor-notAllowed {
        cursor: not-allowed !important;
    }
    .text-capitalize {
        text-transform: capitalize !important;
    }
    .text-uppercase {
        text-transform: uppercase !important;
    }
    .text-lowercase {
        text-transform: lowercase !important;
    }
    .text-none {
        text-transform: none !important;
    }
    .text-underline:hover {
        text-decoration: underline !important;
    }
    .transform-none {
        transform: none !important;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .flex-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .flex-none {
        flex: none !important;
    }
    .overflow-y-auto {
        overflow-y: auto;
    }
    .overflow-x-auto {
        overflow-y: auto;
    }
    .listStyleNone {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /* custom colors */
    .text-lightGreen {
        color: #33cc33 !important;
    }
    .text-theme {
        color: var(--themeColor) !important;
    }
    .text-orange {
        color: #ff8c1a !important;
    }
    .text-red {
        color: #ff3300 !important;
    }
    .text-yellow {
        color: #ffcf00 !important;
    }
    .text-gray {
        color: var(--contentColor);
    }
    .text-indigo {
        color: var(--indigo) !important;
    }
    .text-purple {
        color: var(--purple) !important;
    }
    .text-pink {
        color: var(--pink) !important;
    }
    .text-teal {
        color: var(--teal) !important;
    }
    .text-lightGray {
        color: #909090 !important;
    }
    .text-lightTeal {
        color: #85adad !important;
    }
    .text-gold {
        color: #FFD700 !important;
    }
    .bg-orange {
        background-color: var(--orange) !important;
    }
    .bg-green {
        background-color: var(--green) !important;
    }
    .bg-indigo {
        background-color: var(--indigo) !important;
    }
    .bg-purple {
        background-color: var(--purple) !important;
    }
    .bg-darkskyblue {
        background-color: #2980B9 !important;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .bg-theme {
        background-color: var(--themeColor) !important;
    }
    /* end custom colors */
    /* custom buttons */
    .btn {
        letter-spacing: 0.03em;
        outline: none !important;
        font-size: 14px;
    }
    .btn-transparent {
        padding: 0 5px;
        background-color: transparent;
        position: relative;
        text-align: center;
        transition: all ease-in-out 0.2s;
        margin-right: 7px;
    }
    .btn-transparent i {
        font-size: 15px;
    }
    .btn-transparent:hover {
        transition: all ease-in-out 0.2s;
        transform: translateY(-2px);
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    }
    .btn-primary {
        border-radius: 20px;
        padding: 5px 12px;
        background-color: #4680ff;
        color: var(--whiteColor);
        text-transform: capitalize;
        position: relative;
        border-width: 2px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        transition: all ease-in-out 0.3s;
    }
    .btn-primary .btn-primary-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--themeColor);
        text-align: center;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        margin-right: 8px;
    }
    .btn-primary .btn-primary-icon i {
        font-size: 14px;
        line-height: 20px;
        color: var(--whiteColor);
    }
    .btn-primary:hover {
        transform: translateY(-2px);
        transition: all ease-in-out 0.3s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    .btn-link {
        padding: 0;
        text-transform: capitalize;
        border: 0;
        line-height: normal;
    }
    .btn-link i {
        margin-right: 5px;
    }
    .btn-secondary {
        background-color: #A0A0A0;
        color: var(--whiteColor);
        border-radius: 5px;
        padding: 8px 15px;
        position: relative;
        text-transform: capitalize;
        border: 2px solid #888888;
    }
    .btn-secondary-icon {
        margin-right: 7px;
    }
    .btn-secondary-icon i {
        font-size: 14px;
        color: var(--whiteColor);
    }
    .btn-secondary:hover, .btn-secondary:focus {
        background-color: #888888;
        border-color: #707070;
    }
    .btn-success {
        border-radius: 5px;
        padding: 8px 15px;
        background-color: #19bc15;
        color: var(--whiteColor);
        text-transform: capitalize;
        position: relative;
        border-width: 2px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        transition: all ease-in-out 0.3s;
    }
    .btn-success:hover {
        background-color: #28a745;
        border-color: #218838;
        transition: all ease-in-out 0.3s;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    .btn-danger {
        background-color: #e62e00;
        color: var(--whiteColor);
        border-radius: 5px;
        padding: 6px 15px;
        position: relative;
        text-transform: capitalize;
        border: 2px solid #b32400;
    }
    .btn-danger-icon {
        margin-right: 7px;
    }
    .btn-dark {
        border-radius: 5px;
        padding: 8px 15px;
        color: var(--whiteColor);
        text-transform: capitalize;
        position: relative;
        border-width: 2px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        transition: all ease-in-out 0.3s;
    }
    .btn-dark:hover {
        transition: all ease-in-out 0.3s;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    .btn-dark-icon {
        margin-right: 5px;
    }
    .btn-disabled {
        cursor: not-allowed !important;
        opacity: 1 !important;
        background-color: transparent;
    }
    .btn-disabled i {
        color: #a9a9a9;
    }
    .btn-primary.btn-disabled, .btn-success.btn-disabled {
        background-color: #cccccc !important;
        border-color: #a9a9a9 !important;
        color: var(--textColor) !important;
    }
    .btn-primary.btn-disabled .btn-primary-icon, .btn-success.btn-disabled .btn-primary-icon {
        background-color: #b0b0b0 !important;
    }
    .btn-primary.btn-disabled:hover .btn-primary-icon, .btn-success.btn-disabled:hover .btn-success-icon {
        border-color: #a9a9a9 !important;
    }
    .btn-primary.btn-disabled:hover .btn-primary-icon i, .btn-success.btn-disabled:hover .btn-success-icon i {
        color: var(--textColor) !important;
    }
    /* end custom buttons */
    /* floating button */
    .floatingButton {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10;
    }
    .floatingButton .btn-success {
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
    }
    .floatingButton .btn-success img {
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    .wizardBox {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1020;
        width: 340px;
        box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.9);
        animation-duration: 0.4s;
        display: none;
        overflow-y: auto;
    }
    .wizardInnerBox {
        padding: 20px 20px 0;
    }
    .wizardBox h5 {
        text-align: center;
        color: var(--white);
        margin: 0 0 15px;
        font-size: 15px;
    }
    .wizardBox .close {
        position: absolute;
        top: 10px;
        right: 15px;
        color: var(--whiteColor);
        opacity: 0.9;
        font-size: 20px;
    }
    ul.wizardList {
        padding: 0;
        margin: 0;
    }
    ul.wizardList li {
        padding: 8px 60px 8px 65px;
        margin: 0 auto 15px;
        position: relative;
        border-radius: 10px 50px 50px 10px;
        background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    }
    ul.wizardList li:last-of-type {
        margin-bottom: 0;
    }
    ul.wizardList li .stepBox h6 {
        font-size: 14px;
        font-weight: 600;
        color: var(--themeColor);
        margin: 6px 0;
    }
    ul.wizardList li .stepBox p {
        font-size: 12px;
        color: #757575;
        margin: 0;
        line-height: normal;
    }
    ul.wizardList li .stepCount {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        background: linear-gradient(to right, #be93c5, #7bc6cc);
        color: var(--whiteColor);
        font-size: 18px;
        font-weight: 600;
        line-height: 38px;
        text-align: center;
        border: 2px solid var(--whiteColor);
    }
    ul.wizardList li .stepImage {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
    ul.wizardList li .stepImage img {
        width: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }
    /* end floating button */
    /* empty list message */
    .emptyMessage {
        width: 90%;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 5px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    .emptyMessage p {
        color: var(--lightBlueColor);
        font-size: 15px;
        margin: 0;
        text-align: center;
    }
    .emptyMessage p i {
        margin-right: 10px;
    }
    /* end empty list message */
    /* table */
    .table thead tr th {
        color: var(--themeColor);
        font-size: 0.98em;
        background-color: #fafafa;
        padding: 8px 12px;
        font-weight: 400;
    }
    .table tbody tr td, .table tbody tr th {
        font-size: 0.96em;
        color: var(--contentColor);
        padding: 8px 12px;
        font-weight: 400;
        background-color: var(--whiteColor);
    }
    .table tbody tr th {
        color: var(--textColor);
    }
    /* end table */
    /* custom checkbox */
    .checkboxLabel {
        position: relative;
        display: block;
        cursor: pointer;
        padding-left: 35px;
        line-height: 25px;
        min-height: 25px;
        margin: 0;
    }
    .checkboxLabel .checkText {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .checkboxLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        display: none;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        line-height: 25px;
        border-radius: 3px;
        background-color: var(--whiteColor);
        border: 2px solid var(--borderColor);
    }
    .checkmark::after {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        display: none;
    }
    .checkboxLabel input[type="checkbox"]:checked~.checkmark {
        background-color: var(--lightBlueColor);
        border: 2px solid var(--themeColor);
    }
    .checkboxLabel input[type="checkbox"]:checked~.checkmark::after {
        display: block;
    }
    .checkboxCenter .checkmark {
        left: 50%;
        transform: translateX(-50%);
    }
    .checkboxDisabled.checkboxLabel input[type="checkbox"]:checked~.checkmark {
        background-color: #cccccc;
        border-color: #cccccc;
        cursor: not-allowed !important;
    }
    .noCheckmark::after {
        content: "\00d7";
        font-size: 20px;
    }
    /* end custom checkbox */
    /* custom radio button */
    .radioLabel {
        position: relative;
        display: block;
        cursor: pointer;
        padding-left: 35px;
        line-height: 25px;
        min-height: 25px;
        margin: 0;
    }
    .radioLabel .radioText {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .radioLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .radiomark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        line-height: 25px;
        border-radius: 50%;
        background-color: var(--whiteColor);
        border: 2px solid var(--borderColor);
    }
    .radiomark::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--whiteColor);
        display: none;
    }
    .radioLabel input[type="radio"]:checked~.radiomark {
        background-color: var(--lightBlueColor);
        border: 2px solid var(--themeColor);
    }
    .radioLabel input[type="radio"]:checked~.radiomark::after {
        display: block;
    }
    .radioLabel.radioDisabled .radiomark {
        background-color: #cccccc;
    }
    /* end custom radio button */
    /* tooltip */
    .tooltipText {
        max-width: 280px;
    }
    .tooltipText p {
        font-size: 12px;
        margin: 0;
        text-transform: capitalize;
    }
    .tooltipText small {
        font-size: 12px;
        line-height: 18px;
        color: #dddddd;
    }
    .tooltipText small strong {
        color: #d09800;
    }
    .tooltipText .toolTipHeader {
        display: inline-block;
        color: var(--orange);
        padding-right: 20px;
        position: relative;
    }
    .tooltipText .toolTipHeader::after {
        content: "\279D";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
    .tooltipGraph {
        max-width: 350px;
        padding: 10px 0;
    }
    .tooltipGraph img {
        width: 100%;
    }
    /* end tooltip */
    /* switch */
    .labelSwitch, .sliderSwitch {
        position: relative;
        width: 50px;
        height: 32px;
        margin: 0;
    }
    .labelSwitch input, .sliderSwitch input {
        display: none;
    }
    .labelSwitch .slider, .sliderSwitch .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background-color: #b8b8b8;
        border: 2px solid #a9a9a9;
        border-radius: 35px;
        transition: all ease-in-out 0.4s;
    }
    .labelSwitch .slider::before, .sliderSwitch .slider::before {
        content: "";
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #f8f8f8;
        position: absolute;
        left: 2px;
        top: 2px;
        transition: all ease-in-out 0.4s;
    }
    .labelSwitch .slider::after {
        content: "UNDEPLOYED";
        color: #fff;
        position: absolute;
        top: 5px;
        left: 30px;
        font-size: 12px;
        font-weight: 500;
        transition: all ease-in-out 0.4s;
    }
    .labelSwitch input:checked+.slider, .sliderSwitch input:checked~.slider {
        background-color: var(--lightBlueColor);
        border-color: var(--themeColor);
    }
    .labelSwitch input:focus+.slider {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    }
    .labelSwitch input:checked+.slider::before {
        transform: translateX(88px);
    }
    .labelSwitch input:checked+.slider::after {
        content: "DEPLOYED";
        left: initial;
        right: 35px;
        transition: all ease-in-out 0.4s;
    }
    .labelSwitch.labelWithActive .slider::after {
        content: "INACTIVE";
    }
    .labelSwitch.labelWithActive input:checked+.slider::after {
        content: "ACTIVE";
    }
    .sliderSwitch {
        width: 56px;
        height: 24px;
        flex: 0 0 0 !important;
    }
    .sliderSwitch input:checked+.slider::before {
        transform: translateX(30px);
    }
    .sliderSwitch .slider {
        border-width: 1px;
    }
    .sliderSwitchBox {
        margin-bottom: 15px;
    }
    .sliderSwitch .slider::before {
        top: 2px;
        width: 19px;
        height: 19px;
        backface-visibility:hidden !important;
        -webkit-backface-visibility: hidden !important;
    }
    /* end switch */
    /* modal css */
    .modal {
        background-color: rgba(0, 0, 0, 0.65);
    }
    .modal-header {
        background-color: var(--whiteColor);
        color: var(--themeColor);
    }
    .modal-header .modal-title {
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    .modal-title .close {
        opacity: 0.6;
        color: var(--contentColor);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        font-size: 26px;
        padding: 0;
    }
    .modal-header .close:hover {
        color: var(--themeColor);
    }
    .modal-body {
        padding: 15px;
    }
    .modal-dialog.modal-lg {
        width: 60%;
        max-width: none;
        margin: 30px auto;
    }
    .modal-dialog.modal-full {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        padding: 70px 10px 10px;
        height: 100vh;
    }
    .modal-dialog.modal-full .modal-content, .modal-dialog.modal-full .modal-body {
        height: 100%;
    }
    .modal-dialog.modal-full .modal-header {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    .modal-dialog.modal-full .modal-header .modal-title {
        color: var(--whiteColor);
        font-size: 16px;
        text-align: center;
    }
    .modal-dialog.modal-full .modal-header .modal-title .close {
        position: absolute;
        top: -10px;
        right: 15px;
        color: var(--whiteColor);
        font-size: 40px;
        opacity: 1;
    }
    .modal-dialog.modal-lg.animated {
        animation-duration: 0.55s;
    }
    /* end modal css */
    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 7px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #c6c6c6;
        border-radius: 7px;
        height: 100px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #a9a9a9;
    }
    /* end custom scroll bar */
    /* forbidden page */
    .errorBox {
        margin: 100px 0;
    }
    .errorContent {
        text-align: center;
        text-transform: uppercase;
    }
    .errorContent h5 {
        color: var(--textColor);
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 0 55px;
    }
    .errorContent h1 {
        font-size: 180px;
        letter-spacing: -21px;
        margin: -30px 0 0;
        color: var(--contentColor);
    }
    .errorContent h1 span {
        font-weight: 900;
        text-shadow: -8px 0px 0px #fff;
    }
    .errorContent h6 {
        color: var(--contentColor);
        letter-spacing: 1px;
        line-height: 24px;
        margin-bottom: 15px;
        margin-top: -10px;
        /*margin-left: 55px;*/
    }
    .errorContent .btn-primary {
        margin-left: 40px;
    }
    /* end forbidden page */

    /* toggle button */
    .toggleButton {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .toggleButton i {
        color: var(--contentColor);
    }
    .toggleButton .btn.active {
        background-color: var(--themeColor);
    }
    .toggleButton .btn.active i {
        color: var(--whiteColor);
    }
    .toggleSwitch {
        position: relative;
        width: 85px;
    }
    .toggleSwitchCheckbox {
        display: none;
    }
    .toggleSwitchLabel {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 24px;
        margin: 0;
    }
    .toggleSwitchInner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .toggleSwitchInner:before, .toggleSwitchInner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 13px;
        font-weight: bold;
        color: var(--contentColor);
    }
    .toggleSwitchInner:before {
        content: "ON";
        padding-left: 15px;
        background-color: var(--themeColor);
        color: var(--whiteColor);
    }
    .toggleSwitchInner:after {
        content: "OFF";
        padding-right: 15px;
        background-color: #e2e2e2;
        color: var(--contentColor);
        text-align: right;
    }
    .toggleSwitchCircle {
        display: block;
        width: 18px;
        margin: 6px;
        background: #EDBB99;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 50px;
        border-radius: 50%;
        transition: all 0.3s ease-in 0s;
    }
    .toggleSwitchCheckbox:checked+.toggleSwitchLabel .toggleSwitchInner {
        margin-left: 0;
    }
    .toggleSwitchCheckbox:checked+.toggleSwitchLabel .toggleSwitchCircle {
        right: 0;
        background-color: var(--whiteColor);
    }
    /* end toggle button */
    /* filters */
    .filterBox ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filterBox ul li {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0 6px;
    }
    .filterBox ul li .form-group {
        margin-bottom: 15px;
    }
    .filterBox ul li .form-group-label {
        color: var(--blue) !important;
    }
    .filterBox ul li select.form-control {
        font-size: 0.97em;
        color: var(--textColor);
        border: 1px solid var(--borderColor);
        cursor: pointer;
        height: 38px !important;
        padding: 9px 15px;
        transition: all ease-in-out 0.3s;
    }
    .filterBox ul li select::-ms-expand {
        color: var(--contentColor);
        background-color: var(--themeColor);
    }
    .filterBox ul li select.form-control:hover {
        background-color: #e3f9fc;
        color: var(--themeColor);
        transition: all ease-in-out 0.3s;
    }
    .filterBox ul li select.form-control option {
        font-size: 14px;
        background-color: #e5eef4;
    }
    .filterBox ul li select.form-control option {
        font-size: 14px;
        background-color: #f7fafd;
        color: var(--contentColor);
    }
    .filterBox ul li select.form-control option:hover {
        background-color: #e3f9fc;
    }
    /* end filters */
    /* alert modal css */
    .alert-modal.modal {
        padding: 0 !important;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .alert-modal .modal-dialog, .alert-modal .modal-content, .alert-modal .modal-body {
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0;
        position: relative;
        background-color: transparent;
    }
    .alert-modal .alert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }
    .alert-modal .alert h5 .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .modal-backdrop.show {
        opacity: 0.6;
    }
    .dialogModal .modal-footer {
        justify-content: center;
    }
    .dialogModal .modal-footer .btn {
        min-width: 90px;
    }
    /* end modal css */
    /* toggle list view */
    .pageView {
        margin-right: 5px;
    }
    .pageView .btn-transparent {
        border: 1px solid var(--borderColor);
        border-radius: 3px;
        padding: 0;
        width: 30px;
        height: 30px;
        color: var(--contentColor);
        margin-top: 3px;
        box-shadow: none !important;
    }
    .pageView .btn-transparent.active {
        color: var(--blue);
        background-color: #e3f9fc;
        border-color: var(--blue);
    }
    .linkDisabled {
        cursor: not-allowed !important;
        pointer-events: none;
        text-decoration: line-through;
    }
    /* end toggle list view */
    /* badge list */
    ul.badgeList {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul.badgeList li {
        display: inline-block;
        margin: 0 5px 5px 0 !important;
        padding-left: 0 !important;
    }
    ul.badgeList li:last-child {
        margin-right: 0;
    }
    ul.badgeList li .badge {
        padding: 6px 30px 6px 10px;
        font-size: 12px;
        font-weight: normal;
        background-color: #b3d9ff;
        position: relative;
        transition: all ease-in-out 0.3s;
    }
    ul.badgeList li .badgeClose {
        position: absolute;
        right: 10px;
        font-size: 13px;
        top: 50%;
        transform: translateY(-50%);
    }
    ul.badgeList li .badge:hover {
        cursor: pointer;
        background-color: var(--themeColor);
        color: var(--whiteColor);
        transition: all ease-in-out 0.3s;
    }
    /* end badge list */
    .collapsibleIcon {
        position: absolute;
        right: 5px;
        top: 15px;
        color: var(--contentColor);
        font-size: 13px;
        transform: rotate(180deg);
        transition: all ease-in-out 0.3s;
    }
    .collapsed .collapsibleIcon {
        transform: rotate(0deg);
        transition: all ease-in-out 0.3s;
    }
    .copyBlock {
        padding: 20px;
        border: 1px solid var(--borderColor);
        border-radius: 4px;
        background-color: rgba(1, 79, 161, .1);
        position: relative;
        margin: 20px 5px;
    }
    .copyBlock a {
        color: #4680ff !important;
        font-size: 13px;
        font-size: 600;
    }
    .copyBlock .btn-copy {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    .boxMinHeight {
        min-height: 300px;
    }

    /* CollapseBox Start */
    .collapseBox .collapseBoxHeader {
        padding: 10px 20px 10px 10px;
        border: 1px solid var(--borderColor);
        font-size: 13px;
        font-weight: 500;
        color: var(--themeColor);
        cursor: pointer;
        border-radius: 4px;
        position: relative;
        background-color: var(--white);
        font-weight: 600;
    }
    .collapseBox .collapseBoxHeader .icon {
        position: absolute;
        top: 10px;
        right: 15px;
        transition: 600ms ease;
    }
    .collapseBox .collapseBoxBody {
        border: 2px dashed var(--borderColor);
        padding: 10px;
        border-radius: 4px;
    }
    .collapseBoxHeader.collapsed .icon {
        transform: rotate(-180deg);
        transition: 600ms ease;
    }
    /* CollapseBox End */
    .borderBoxDashed {
        border: 2px dashed var(--borderColor);
    }
}