:root{
    --themeColor: #4ba82e !important;
}

@media only screen {
    .topNav {
        background-color: var(--themeColor) !important;
    }
    .topNav .navbar-nav .nav-item .nav-link,
    .topNav .navbar-nav .nav-item:hover .nav-link,
    .topNavProfile p strong,
    .topNavProfile p span {
        color: var(--whiteColor) !important;
    }
    .topNav .navbar-nav .nav-item.active .nav-link {
        color: var(--whiteColor) !important;
        border-bottom-color: var(--whiteColor) !important;
    }
    .topNav .navbar-nav .nav-item.dropdown .dropdown-menu .nav-link {
        color: var(--textColor) !important;
    }
    .pageBreadcrumb h4,
    .btn-primary .btn-primary-icon i {
        color: var(--themeColor) !important;
    }
    .loginMenu button,
    .topNavProfile h5 {
        color: var(--whiteColor) !important;
    }
    .topNavProfile h5 span:first-child {
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .topNavProfile h5 span:last-child {
        color: white;
        font-size: 16px;
        font-weight: 600;
    }
    .contentTableBox table thead tr th,
    .table thead tr th {
        color: var(--blackColor) !important;
    }
    .btn-primary {
        background-color: var(--themeColor) !important;
        border-color: var(--contentColor) !important;
    }
    .btn-primary-icon {
        background-color: var(--whiteColor) !important;
    }
    .bottomButton .btn-success {
        background-color: var(--blackColor) !important;
        border-color: var(--contentColor) !important;
    }
    .form-group .form-control:focus~.form-group-label,
    .form-group .form-control:required:valid~.form-group-label,
    .form-group .form-control:not(:placeholder-shown)~.form-group-label {
        color: var(--blackColor) !important;
    }
    .listHeader {
        color: var(--green) !important;
    }
    .btn-link .btn-primary-icon {
        background-color: transparent !important;
    }
    .ticketContainer h4 {
        color: var(--blue);
    }
}
