@media only screen {
    .hierarchyRoot {
        margin: 25px 0 15px;
        padding: 10px 10px 10px 20px;
        position: relative;
        min-height: 45px;
    }
    .hierarchyRoot::before {
        content: '';
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        background-color: var(--borderColor);
        border-radius: 5px;
        height: 100%;
        width: 8px;
    }
    .hierarchyRoot .btn-addRoot {
        position: absolute;
        top: 5px;
        left: 3px;
        background-color: var(--themeColor);
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 50%;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: center;
        border: 0;
    }
    .hierarchyRoot .btn-addRoot i {
        font-size: 16px;
        color: var(--whiteColor);
        line-height: 32px;
    }
    .hierarchyRoot .btn-addRoot:hover {
        background-color: var(--whiteColor);
    }
    .hierarchyRoot .btn-addRoot:hover i {
        color: var(--themeColor);
    }
    .hierarchyTooltip {
        background-color: #e3f9fc;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        padding: 20px 30px;
        position: absolute;
        top: -10px;
        left: 60px;
        min-width: 30%;
    }
    .hierarchyTooltip::before {
        content: '\25C0';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        color: #dddddd;
        font-size: 26px;
    }
    .hierarchyTooltip p {
        margin: 0;
        color: var(--lightBlueColor);
    }
    .hierarchyRoot .nodeBox {
        position: relative;
        padding: 20px 0 0;
    }
    .hierarchyRoot .nodeBox::before {
        content: " ";
        position: absolute;
        top: 37px;
        left: 0;
        border-top: 2px solid var(--borderColor);
        width: 40px;
    }
    .hierarchyRoot .nodeBox::after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-left: 3px solid var(--borderColor);
    }
    .hierarchyBranch .nodeBox:last-of-type::after {
        height: 37px;
    }
    .hierarchyRoot .nodeInputBox {
        position: relative;
        padding-left: 40px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .hierarchyRoot .nodeInputBox::before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--textColor);
        position: absolute;
        top: 15px;
        left: -2px;
        z-index: 1;
    }
    .hierarchyRoot .nodeInputBox .form-control {
        border: 0.15em solid var(--borderColor);
        font-weight: 600;
        font-size: 13px;
        color: var(--contentColor);
        width: 260px;
        padding: 7px 10px 7px 30px;
        display: inline-block;
    }
    .hierarchyRoot .nodeInputBox .nodeInputBoxIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        z-index: 2;
    }
    .hierarchyRoot .button-group {
        display: inline-block;
        margin-left: 3px;
    }
    .hierarchyRoot .button-group .btn-transparent {
        background-color: #e3f9fc;
        padding: 6px 8px;
        border: 1px solid var(--borderColor);
        margin-right: 2px;
        min-width: 35px;
        height: 100%;
    }
    .hierarchyRoot .button-group .btn-transparent:hover {
        background-color: var(--whiteColor);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    }
    .hierarchyBranch {
        margin-left: 60px;
        position: relative;
    }
    .hierarchyRoot .btn-collapse {
        position: absolute;
        top: 25px;
        left: 12px;
        z-index: 1;
        padding: 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
        background-color: var(--whiteColor);
        border: 2px solid var(--borderColor);
    }
    .hierarchyRoot .btn-collapse i {
        font-size: 17px;
    }
    .hierarchyList {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .hierarchyList li {
        margin-bottom: 10px;
        padding: 10px 0 10px 40px;
        position: relative;
    }
    .hierarchyList li .hierarchyListCount {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: 0;
        background-color: #D8E8FE;
        color: var(--themeColor);
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 24px;
    }
    .hierarchyList li p {
        margin: 0 0 8px;
        font-weight: 600;
        font-size: 14px;
        text-transform: capitalize;
        position: relative;
        color: var(--textColor);
    }
    .hierarchyList li p::after {
        content: "\21FE";
        color: var(--contentColor);
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .hierarchyList li p:last-of-type::after {
        display: none;
    }
    .hierarchyDropdown {
        position: relative;
        display: inline-block;
    }
    .hierarchyDropdown .dropdown-toggle::after {
        display: none;
    }
    .hierarchyDropdownMenu {
        position: absolute !important;
        top: 50% !important;
        left: 105% !important;
        margin: 0;
        transform: translateY(-50%) !important;
        border-color: transparent;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        padding: 20px;
        min-width: 300px;
    }
    .hierarchyDropdownMenu::before {
        content: "";
        display: inline-block;
        height: 14px;
        width: 14px;
        border-left: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
        position: absolute;
        top: 45%;
        left: -8px;
        background-color: var(--whiteColor);
        transform: rotate(45deg);
    }
    .hierarchyDropdownMenu p {
        color: var(--textColor);
    }
    .hierarchyDropdownMenu .form-control {
        padding-left: 10px !important;
    }
    .hierarchyDropdownMenu .btn {
        padding: 3px;
        width: 35px;
    }
    .roleDropdownMenu {
        min-width: 590px;
    }
    .hierarchyBadgeList {
        margin-left: 18px;
        position: relative;
    }
    .hierarchyBadgeList label {
        padding-left: 20px;
        margin: 0 10px 0 0;
        font-size: 13px;
        color: var(--textColor);
    }
    .hierarchyBadgeList label::before {
        content: '';
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 0;
        border-left: 2px solid #a9a9a9;
    }
    .hierarchyBadge {
        font-size: 12px;
        font-weight: 600;
        position: relative;
        padding: 7px 30px 7px 25px;
        border-radius: 3px 15px 15px 3px;
        margin-right: 10px;
    }
    .hierarchyBadge::before {
        content: '#';
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 3px;
        padding: 3px;
        background-color: #e3f9fc;
        color: var(--themeColor);
        font-size: 14px;
        font-weight: bold;
    }
    .hierarchyBadge .btn-transparent {
        box-shadow: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        margin: 0;
    }
    .hierarchyBadge .btn-transparent i {
        font-size: 13px;
        color: var(--borderColor);
    }
    .hierarchyHelpBox {
        position: absolute;
        top: 85px;
        right: 0;
        background-color: var(--whiteColor);
        padding: 15px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }
    .hierarchyHelpBox p {
        text-align: center;
        text-decoration: underline;
        color: var(--blue);
    }
    .hierarchyHelpIcon {
        position: absolute;
        top: -10px;
        right: -5px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: var(--yellow);
        text-align: center;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
    .hierarchyHelpIcon i {
        color: var(--textColor);
        font-size: 16px;
        line-height: 28px;
    }
    .hierarchyHelpBox ul {
        margin: 0;
        padding: 0;
    }
    .hierarchyHelpBox ul li {
        font-size: 14px;
        color: var(--contentColor);
        list-style: none;
    }
    .hierarchyHelpBox ul li span {
        position: relative;
        min-width: 30px;
        display: inline-block;
        margin-right: 15px;
    }
    .hierarchyHelpBox ul li span::after {
        content: "\279C";
        position: absolute;
        right: -6px;
        color: var(--borderColor);
    }
    .hierarchyTreeView {
        height: 417px;
        overflow-y: auto;
    }
    ul.hierarchyTree {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    ul.hierarchyTree ul {
        padding-left: 30px;
        list-style: none;
        position: relative;
    }
    ul.hierarchyTree ul li {
        position: relative;
    }
    ul.hierarchyTree ul li::before {
        content: '';
        height: 100%;
        width: 1px;
        background-color: #b0b0b0;
        position: absolute;
        top: 0;
        left: -15px;
    }
    ul.hierarchyTree ul li:last-of-type::before {
        height: 15px;
    }
    ul.hierarchyTree li a {
        font-size: 14px;
        color: var(--textColor);
        display: inline-block;
        padding: 3px 5px 3px 10px;
        position: relative;
    }
    ul.hierarchyTree ul li a::before {
        content: '';
        width: 12px;
        height: 1px;
        background-color: #b0b0b0;
        position: absolute;
        top: 15px;
        left: -15px;
    }
    ul.hierarchyTree ul li a::after {
        content: '\2022';
        color: #a9a9a9;
        position: absolute;
        top: 5px;
        left: -5px;
        font-size: 24px;
        line-height: 21px;
    }
    ul.hierarchyTree ul li a:hover {
        color: var(--blue) !important;
        text-decoration: underline !important;
        cursor: pointer;
    }
    ul.hierarchyTree ul li a:hover::before,
    ul.hierarchyTree ul li a:hover::after {
        text-decoration: none !important;
        color: var(--blue) !important;
    }
    ul.hierarchyTree li a i {
        font-size: 13px;
        margin-right: 7px;
    }
    .hierarchyTreeView span {
        display: none;
    }
    .hierarchyTreeView .form-control {
        margin-bottom: 10px;
    }
    .hierarchyTreeView .css-79elbk div:first-of-type {
        /*padding-left: 20px;*/
    }
    .hierarchyTreeView .css-1cf7s5m {
        color: var(--textColor);
        font-size: 13px;
        line-height: normal;
        padding: 5px 5px 5px 23px;
    }
    .hierarchyTreeView .css-1cf7s5m:hover {
        color: var(--blue);
        text-decoration: underline;
    }
    .hierarchyTreeView .css-1abq8k5 {
        margin: 0;
    }
    .hierarchyTreeView .css-1u94gzr {
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .hierarchyTreeView .css-1u94gzr svg {
        display: none;
    }
    .hierarchyTreeView .css-1u94gzr::after {
        content: '\25B6';
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
