@import "variable.css";
@media only screen {
    /* login page */
    .loginOuterBox {
        height: 100vh;
        width: 100%;
        min-height: 500px;
        background-color: var(--whiteColor);
    }
    .loginInnerBox {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }
    .loginContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    .loginImage {
        width: 65%;
        margin: auto;
    }
    .loginImage img {
        width: 100%;
    }
    .loginContentHeader h1 {
        color: var(--themeColor);
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 36px;
    }
    .loginContentHeader p {
        color: var(--lightBlueColor);
    }
    .loginContentHeader h5 {
        color: var(--contentColor);
        font-size: 16px;
        margin: 0 0 30px;
    }
    .loginBox {
        background-color: #f7fafd;
        border: 1px solid #e2e2e2;
        padding: 50px 35px;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        width: 400px;
        height: 397.33px;
    }
    .loginHeader {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .loginHeader img {
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loginForm {
        padding-top: 50px;
    }
    .loginForm .btn-primary {
        background-color: var(--themeColor);
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid var(--borderColor);
    }
    .loginBox a {
        text-decoration: underline;
        font-weight: 600;
    }
    .loginWithBorder {
        flex-basis: 100%;
        height: 1px;
        background-color: var(--borderColor);
        position: relative;
        margin: 20px 0 15px;
    }
    .loginWithBorder p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-weight: 600;
        padding: 0 15px;
        background-color: var(--whiteColor);
        z-index: 1;
        color: var(--contentColor);
    }
    #loginWithAmazon.btn-warning {
        border-color: #ab8b3e;
        background-color: #f1cd52;
        color: var(--blackColor);
        border-radius: 30px;
        padding: 9px 15px;
        font-weight: 600;
        text-decoration: none;
        margin-top: 10px;
        line-height: 20px;
        width: 100%;
    }
    #loginWithAmazon.btn-warning i {
        font-size: 17px;
        margin-right: 7px;
        line-height: 20px;
    }
    .loginForm .errorMessage {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        padding: 0;
        font-size: 12px;
        color: #ff0000;
        text-align: center;
    }
    .loginBox .hcYLPU {
        height: auto;
        left: 0;
        right: 0;
        border-radius: 15px;
    }
    /* end login page*/
}

@media only screen and (max-width: 1199.98px) {
    .loginInnerBox .fx-b65 {
        flex: 0 0 60% !important;
        max-width: 60% !important;
    }
    .loginInnerBox .fx-b35 {
        flex: 0 0 40% !important;
        max-width: 40% !important;
    }
    .loginBox {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 991.98px) {
    .loginInnerBox .fx-b65 {
        display: none;
    }
    .loginInnerBox .fx-b35 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .loginBox {
        width: 400px;
    }
}

@media only screen and (max-width: 575.98px) {
    .loginBox {
        width: 80%;
    }
}

@media only screen and (max-width: 425px) {
    .loginBox {
        width: 90%;
        padding: 50px 25px 40px 25px;
    }
}
