@import "variable.css";
@media only screen {
  .left-bg {
    /* background: var(--themeColor); */
    background:url(../images/color1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .right-bg{
    background:white;
    height: 100vh;
    position: relative;
    background:url(../images/color2.jpg) no-repeat;
    background-size: cover;
  }
  .outer-div{
    padding: 0;
  }
  .innerflexI{
    width: 76%;
    background: white;
    height: 575px;
    position: absolute;
    top: 50%;
    /* left: 0; */
    transform: translateY(-50%);
    border-radius: 9px;
    box-shadow: 6px 7px 10px -2px rgb(98, 203, 251);
    z-index: 2;
    padding:24px;
  }
  .innerflexII{
    width: 61%;
    position: absolute;
    height: 479px;
    right: 0;
    top: 50%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 6px 7px 10px -2px rgb(98, 203, 251);
    background: rgb(255, 255, 255);
    transform: translateY(-50%);
    z-index: 2;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
  }
  .loginimage{
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  .loginimage:hover{
    transform: rotateX('260deg');
  }
  .loginimage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .loginHeader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    box-shadow: -2px 4px 10px 1px rgba(0, 0, 0, 0.4);
  }
  .loginForm {
    padding: 47px;
    padding-top: 154px;
  }
  .loginForm .form-group .form-control{
    background: #ffffff;
  }
  .loginForm .form-group .form-group-label {
    color: var(--themeColor);
  }
  .blureffect{
    opacity: 0.9;
    background: rgba(97, 204, 252,0.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .copywrite{
    z-index: 1;
    position: absolute;
    bottom: 12px;
  }
  .copy a{
    color: #000000;
  }
  .massage{
    font-size: 16px;
    color: whitesmoke;
  }
}
