@import "variable.css";
@media only screen {
    .subHeader {
        background-color: #f7f7f7;
        color: #1c539e;
        font-size: 14px;
        margin: 0;
        padding: 10px 15px;
        border: 1px solid #dddddd;
        border-radius: 3px 3px 0 0;
        font-weight: 400;
        text-transform: capitalize !important;
        position: relative;
    }

    .borderBox {
        padding: 15px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        position: relative;
        border-radius: 3px;
    }

    .selectionBoxRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    .selectionBoxRight label {
        margin: 0 5px 0 0;
    }

    .selectionBoxRight select {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 3px;
        font-size: 13px;
        cursor: pointer;
        height: auto;
        padding: 4px 10px;
        color: #495057;
        min-width: 170px;
        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.09);
    }

    .card-header {
        position: relative;
    }

    .select-cluster {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
    }

    .select-cluster label {
        font-weight: 400;
        color: #4a4a4a;
    }

    .select-cluster .form-control {
        padding: 3px 15px;
        min-width: 120px;
        height: auto !important;
    }

    .pageBreadcrumb .select-cluster label {
        margin-right: 10px;
    }

    .pageBreadcrumb .select-cluster select {
        padding: 10px 15px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .toggleButton {
        height: 42px;
        width: 42px;
        padding: 0;
        margin-right: 12px;
        border: 1px solid #dddddd;
    }

    .toggleButton:last-child {
        margin-right: 0;
    }

    .toggleButton i {
        color: #757575;
        font-size: 24px;
        line-height: 42px;
    }

    .toggleButton.btn-primary {
        background-color: #1c539e;
    }

    .toggleButton.btn-primary i {
        color: #ffffff;
    }

    .accountBriefDetail button {
        position: relative;
    }

    .accountBriefDetail .sticky-top {
        top: 70px;
        z-index: 2;
    }

    input.form-control::placeholder,
    textarea.form-control::placeholder {
        font-weight: 300;
        color: #909090;
    }

    .contentForm .form-control-select {
        width: 100%;
    }

    .contentForm .form-control-select .css-1aya2g8 {
        padding: 3px 5px !important;
        background-color: #ffffff;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
        border-color: #c3c3c3;
    }

    .contentForm .form-control-select .css-2o5izw {
        border-color: #c3c3c3;
    }

    .contentForm .formHeader {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .contentForm .formHeader h4 {
        font-size: 17px;
        color: #484848;
    }



    /*.contentTable thead tr th {*/
        /*font-weight: 400;*/
        /*color: #1c539e;*/
        /*font-size: 13px;*/
        /*text-transform: capitalize;*/
        /*padding: 10px;*/
        /*border-bottom-width: 1px;*/
        /*background-color: #f3f3f3;*/
    /*}*/

    /*.contentTable thead tr th:first-child {*/
        /*border-left: 1px solid #dee2e6;*/
        /*border-top-left-radius: 3px;*/
        /*border-bottom-left-radius: 3px;*/
    /*}*/

    /*.contentTable thead tr th:last-child {*/
        /*border-right: 1px solid #dee2e6;*/
        /*border-top-right-radius: 3px;*/
        /*border-bottom-right-radius: 3px;*/
    /*}*/

    /*.contentTable tbody tr td {*/
        /*color: #484848;*/
        /*font-size: 13px;*/
        /*padding: 7px 10px;*/
        /*background-color: #fff;*/
        /*border: 1px solid transparent;*/
        /*border-bottom-color: #e3e3e3;*/
        /*border-top-color: #e3e3e3;*/
        /*vertical-align: middle;*/
        /*line-height: 20px;*/
    /*}*/

    /*.contentTable tbody tr td:first-child {*/
        /*border-left-color: #e3e3e3;*/
        /*border-top-left-radius: 3px;*/
        /*border-bottom-left-radius: 3px;*/
    /*}*/

    /*.contentTable tbody tr td:last-child {*/
        /*border-right-color: #e3e3e3;*/
        /*border-top-right-radius: 3px;*/
        /*border-bottom-right-radius: 3px;*/
    /*}*/

    /*.contentTable tbody tr td:last-child img,*/
    /*.contentTable tbody tr td:last-child button {*/
        /*margin: 0 6px;*/
        /*cursor: pointer;*/
    /*}*/



    .contentTable tbody tr td .checkboxLabel {
        margin-bottom: 0;
    }

    .actionButtonGroup {
        position: absolute;
        top: 0;
        left: 180px;
    }

    .actionButton .btn {
        padding: 0 10px;
        border-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        color: #fff;
        border-color: transparent;
    }

    .actionButton .input-group-text {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 0 15px;
        margin-left: 2px;
        border-color: transparent;
        cursor: pointer;
    }

    .custom-card {
        border: 1px solid #dddddd;
        margin: 10px 0;
        background-color: #fff;
    }

    .custom-card-header {
        border: 0;
        padding: 12px 15px;
        background-color: #fff;
        margin: 1px;
    }

    .custom-card-header p {
        color: #1c539e;
        cursor: pointer;
        line-height: 28px;
    }

    .custom-card-header .viewMoreButton {
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        font-size: 14px;
    }

    .custom-card-header .viewMoreButton:hover {
        text-decoration: underline;
    }

    .custom-card [data-toggle="collapse"] .fas::before {
        content: "\f068";
    }

    .custom-card [data-toggle="collapse"].collapsed .fas::before {
        content: "\f067";
    }

    .custom-card-header button {
        background-color: #34629e;
        color: #fff;
        margin-right: 10px;
        padding: 3px 10px;
    }

    .custom-card-header span {
        color: #484848;
        font-size: 15px;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .custom-card-body {
        padding: 0 40px 10px;
    }

    .custom-card-body table tbody tr td {
        background-color: #f8f8f8;
    }

    .custom-card-body table tbody tr td p {
        color: #727272;
        font-size: 13px;
    }

    .scheduleHeader {
        padding-left: 50px;
        margin: 0;
    }

    .scheduleHeaderCollapseButton {
        position: absolute;
        top: 15px;
    }

    .policyCheckbox {
        border: 1px solid #c3c3c3;
        border-radius: 3px;
        padding: 7px;
    }

    .policyCheckbox input {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }

    .policyCheckbox label {
        color: #484848;
        font-weight: 500;
        padding-left: 35px;
        line-height: 19px;
    }

    .policyCheckbox label small {
        color: #727272;
        font-size: 12px;
        font-weight: 400;
    }

    .conditionBox .btn-condition,
    .conditionBox .btn-action {
        background-color: #34629e;
        color: #fff;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 3px;
    }

    .conditionBox [data-toggle="collapse"] .fas::before {
        content: "\f068";
    }

    .conditionBox [data-toggle="collapse"].collapsed .fas::before {
        content: "\f067";
    }

    .conditionBox .btn-action {
        background-color: #15b762;
    }

    .conditionBox .input-group-text.condition-group-text,
    .conditionBox .input-group-text.action-group-text {
        background-color: #437fcc;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        border: 0;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }

    .conditionBox .input-group-text.action-group-text {
        background-color: #21cf73;
    }

    .conditionBox .btn-delete {
        background-color: #ddd;
        border-color: #ddd;
        color: #929292;
        margin-left: 5px !important;
        border-radius: 3px !important;
    }

    .conditionText {
        color: rgba(72, 72, 72, 0.749);
        margin: 5px 15px;
        font-weight: 300;
        font-style: italic;
    }

    .conditionContent,
    .actionContent {
        padding: 12px;
        margin-left: 32.5px;
        border-left: 3px solid #34629e;
    }

    .actionContent {
        border-left: 3px solid #15b762;
    }

    .conditionTable {
        width: 100%;
    }

    .conditionTable thead tr th {
        color: #484848;
        font-weight: 300;
        padding: 2px 10px;
    }

    .conditionTable tbody tr td {
        padding: 5px 10px;
    }

    .userBox {
        background-color: #f2f0f1;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        padding: 15px;
    }

    .userBoxContent {
        border-bottom: 1px solid #e2e0e1;
        padding: 10px;
        margin-bottom: 15px;
    }

    .userBoxContent:last-child {
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .userBoxContent label {
        margin-bottom: 15px;
    }

    .roleTable {
        background-color: #f2f0f1;
        border-radius: 3px;
    }

    .roleTable .table thead th {
        text-transform: uppercase;
        letter-spacing: 0.3px;
        color: #484848;
        font-size: 13px;
        border-top: 0;
        text-align: center;
    }

    .roleTable .table tbody td {
        color: #484848;
        font-size: 13px;
        border-top: 0;
        text-align: center;
    }

    .roleTable .table thead th:first-child,
    .roleTable .table tbody td:first-child {
        text-align: left;
    }

    .roleTable .checkmark {
        left: 50%;
        transform: translateX(-50%);
    }

    .newAddedData {
        display: inline-block;
        background-color: #1c539e;
        color: #ffffff;
        border-radius: 10px;
        padding: 3px 7px;
        font-size: 10px;
        font-weight: normal;
        margin-left: 5px;
    }

    .lookUpform {
        text-align: center;
        margin: 30px 0;
    }

    .lookUpform h2 {
        font-weight: 300;
        margin-bottom: 20px;
    }

    .lookUpform .form-control {
        border-radius: 25px;
    }

    .lookUpTable {
        width: 50%;
        margin: 0 auto;
    }

    /* end common css */


    .searhBox {
        background-color: #1c539e;
        border: 1px solid #56626d;
        padding: 20px 15px;
        border-radius: 4px;
        margin: 15px 0;
    }

    .searhBoxInner {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 14px 0;
    }

    .searhBoxInner i {
        margin-right: 10px;
    }

    ul.dashboardCount li.dashboardCountInner {
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        border: 1px solid #535353;
        color: #fff;
        text-align: center;
        flex: 0 0 25%;
    }

    .dashboardCountInner h5 {
        margin: 15px 0;
        font-weight: 400;
    }

    .dashboardCountGraph {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 2px solid #4d5459;
        margin: 15px auto;
        position: relative;
    }

    .progress-value {
        color: #fff;
        text-align: center;
        position: relative;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .progress-value p {
        color: #adadad;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .progress-value h4 {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    .dashboardCountGraphInline {
        display: flex;
        flex-direction: row;
    }

    .dashboardCountGraphInline .dashboardCountGraph {
        margin-top: 0;
    }

    .graphOuterBox.card {
        border-color: #c3c3c3;
        margin-bottom: 15px;
    }

    .graphOuterBox .card-header {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-weight: 500;
    }

    .graphOuterBox .borderBox {
        padding: 10px;
    }

    .graphInnerBox {
        margin: 10px 10px 0 0;
        background-color: #ffffff;
        position: relative;
    }

    .graphBoxHeader {
        position: relative;
        background-color: #1c539e;
        color: #ffffff;
        margin: 0;
        padding: 8px 15px;
        font-size: 13px;
        font-weight: 400;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .graphBoxHeader .infoButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        background-color: transparent;
        padding: 0 10px;
        z-index: 10;
    }

    .graphBoxHeader .infoButton i {
        color: #ffffff;
    }

    .graphBoxHeader .infoButton:hover {
        box-shadow: none;
    }

    .graphBox,
    .graphBoxMessage {
        width: 100%;
        height: 250px;
        padding: 5px;
        border: 1px solid #dddddd;
        border-radius: 0 0 3px 3px;
    }

    .graphBox div a {
        display: none !important;
    }

    .graphBox img {
        height: 100%;
    }

    .graphBoxMessage p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #757575;
        text-align: center;
        margin: 0;
    }

    .graphBoxTable {
        height: 100%;
        border: 1px solid #dddddd;
        padding: 40px 15px 15px;
        overflow: auto;
    }

    .graphBoxTable table thead th {
        font-size: 13px;
        font-weight: 500;
    }

    .graphStandards {
        text-align: center;
        margin-bottom: 20px;
    }

    .graphStandards .badge {
        font-weight: 600;
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 3px;
    }

    .semicircleProgress .semicircle-container {
        height: 100%;
        text-align: center;
        line-height: 238px;
    }

    .semicircleProgress p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 18%;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .semicircleProgress p small {
        font-size: 20px;
        color: #757575;
        margin-left: 7px;
    }

    .dashboardTab .nav-item {
        width: 25%;
    }

    .dashboardTab .nav-item .nav-link {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        color: #1c539e;
        font-weight: 300;
    }

    .dashboardTab .nav-item .nav-link img {
        width: 20px;
        margin-right: 10px;
    }

    .dashboardTab .nav-item .nav-link.active {
        background-color: #1c539e;
        color: #ffffff;
        font-weight: 500;
    }

    .wifiDetails .flex .flex-item {
        flex: 0 0 25%;
        padding: 7px 15px 7px 0;
    }

    .wifiDetails .flex .flex-item .borderBox {
        min-height: 300px;
    }

    .manageListBox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .manageListBox .borderBox {
        height: 400px;
        margin-bottom: 5px;
    }

    .manageList {
        flex: 0 0 40%;
        padding-right: 10px;
        position: relative;
    }

    .manageListHeader {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 12px 15px;
        background-color: rgba(0, 0, 0, 0.1);
        color: #000000;
        font-size: 14px;
    }

    .manageList ul {
        height: 100%;
        overflow-y: auto;
        padding: 40px 0 15px;
    }

    .manageList ul li {
        padding: 10px 60px 10px 10px;
        list-style: none;
        border-bottom: 1px solid #e2e2e2;
        position: relative;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }

    .manageList ul li:hover {
        background-color: rgba(0, 0, 0, 0.02);
        transition: all ease-in-out 0.3s;
    }

    .manageList ul li.active {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .manageList ul li.active h4,
    .manageList ul li.active p {
        color: #1c539e;
    }

    .manageList ul li h4 {
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 5px;
    }

    .manageList ul li p {
        font-size: 13px;
        color: #757575;
        margin-bottom: 0;
    }

    .manageList ul li .sliderSwitchBox {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 5px 0 0;
    }

    .manageList ul li .sliderSwitchBox p {
        font-size: 12px;
        color: #757575;
        text-align: center;
        margin: 2px 0 0;
    }

    .manageList .videoList:hover,
    .manageList .videoList .sliderSwitchBox .slider {
        cursor: not-allowed;
    }

    .manageList .videoList:hover {
        background-color: transparent !important;
    }

    .manageListDetail {
        flex: 0 0 60%;
        padding-left: 10px;
    }

    .manageListDetailHeader {
        padding: 12px 15px;
        color: #4a4a4a;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .manageListDetailBox {
        padding: 60px 15px 15px;
    }

    .manageListDetailBox p {
        color: #757575;
        text-align: center;
        margin: 10px 20px;
    }

    .manageListDetailBox .btn-default {
        border-radius: 3px;
        padding: 10px 15px;
    }

    .manageListDetailBox .btn-default i {
        font-size: 18px;
    }

    .manageListDetailFooter {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        border-top: 1px solid #e2e2e2;
        text-align: right;
    }

    .manageListDetailFooter .btn {
        min-width: 100px;
    }

    .manageListDetailFooter .btn:first-child {
        margin-right: 10px;
    }

    .manageProfileListBox .manageList {
        flex: 0 0 35%;
    }

    .manageProfileListBox .manageListDetail {
        flex: 0 0 65%;
    }

    .manageProfileListBox .manageListDetailHeader {
        left: 10px;
    }

    .manageProfileListBox .borderBox {
        height: 520px;
        padding-bottom: 75px;
    }

    .manageProfileListBox .manageList .borderBox {
        height: 675px !important;
        padding-bottom: 15px !important;
    }

    .manageProfileListBox .manageList ul li .button-group {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .manageProfileListBox .manageList ul li .button-group button:last-child i {
        color: #757575 !important;
        margin-left: 15px;
    }

    .manageProfileListBox .manageListDetailHeader .button-group {
        float: right;
    }

    .manageProfileListBox .manageListDetailHeader .button-group .btn-transparent {
        margin: 0 7px;
        cursor: pointer;
    }

    .manageProfileListBox .manageListDetailHeader .button-group .btn-transparent i {
        color: #1c539e !important;
        font-size: 18px;
    }

    .manageProfileListBox .manageListDetailBox {
        padding: 45px 0 0 0;
    }

    .manageProfileList {
        height: 100%;
    }

    .manageProfileList ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        overflow-y: auto;
    }

    .manageProfileList ul li {
        border-bottom: 1px solid #e2e2e2;
        transition: all ease-in-out 0.3s;
        padding: 5px 0;
    }

    .manageProfileList ul li:last-child {
        border-bottom-color: transparent;
    }

    .manageProfileList ul li:hover {
        background-color: rgba(0, 0, 0, 0.02);
        transition: all ease-in-out 0.3s;
    }

    .manageProfileList ul li label small {
        display: block;
        font-size: 12px;
        line-height: 20px;
        color: #757575;
    }

    .manageProfileList ul li label .checkmark {
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    .tab-content .graphHeading {
        text-align: center;
        color: #1c539e;
        font-size: 15px;
    }

    .wifiDetails .flex .flex-item:last-child {
        padding-right: 0;
    }

    .tabContentListBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .tabContentListBox .tabContentLeft {
        height: 100%;
        flex: 0 0 30%;
        padding: 7px 0;
        max-width: 30%;
    }

    .tabContentListBox .tabContentRight {
        flex: 0 0 70%;
        max-width: 70%;
        height: 100%;
        padding: 7px 0 7px 7px;
    }

    .tabContentList {
        height: 450px;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        position: relative;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-top: 2px;
    }

    .tabContentListHeader {
        background-color: #1c539e;
        margin: 0;
        padding: 10px 15px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tabContentListHeader .btn-link {
        color: #ffffff;
        padding: 0;
        font-size: 13px;
        font-weight: 400;
        border: 0;
    }

    .tabContentList ul {
        padding: 5px;
        height: 100%;
        overflow-y: auto;
        list-style: none;
        margin-bottom: 0;
    }

    .tabContentList ul li {
        border-bottom: 1px solid #dddddd;
        padding: 10px;
        position: relative;
    }

    .tabContentList ul li:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        z-index: 1;
    }

    .tabContentList ul li:last-child {
        margin-bottom: 10px;
        border-bottom-color: transparent;
    }

    .tabContentList ul li.active {
        background-color: #f7f7f7;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }

    .tabContentListAlerts {
        min-height: 600px;
        margin-top: 15px;
    }

    .tabContentListAlerts .emptyMessage {
        margin: 50px
    }

    .tabContentListDeviceTable {
        font-size: 13px !important;
    }

    .activeArrow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25px;
        background-color: #dddddd;
    }

    .activeArrow i {
        color: #757575;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tabProfileList ul li.active {
        padding-right: 30px;
    }

    .tabProfileList h5 {
        color: #4a4a4a;
        margin: 5px 0;
        font-size: 15px;
    }

    .tabProfileList p {
        color: #757575;
        font-weight: 300;
        font-size: 13px;
        margin: 0;
    }

    .tabContentListFooter {
        background-color: #f7f7f7;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px;
        border-top: 1px solid #dddddd;
        text-align: right;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .tabContentList.tabProfileList ul li.active h5,
    .tabContentList.tabProfileList ul li.active p {
        color: #1c539e;
    }

    .selectDeviceBox .tabProfileList ul {
        padding-bottom: 40px;
    }

    .selectDeviceBox .tabProfileList ul li label {
        margin: 0;
        color: #4a4a4a;
    }

    .selectDeviceBox .tabProfileList ul li label small {
        color: #757575;
        display: block;
        line-height: 14px;
    }

    .selectDeviceBox .tabProfileList ul li label .checkmark {
        top: 50%;
        transform: translateY(-50%);
    }

    .scheduleTableBox {
        padding: 15px;
    }

    .scheduleTable table tr th,
    .scheduleTable table tr td {
        padding: 8px 15px;
    }

    .scheduleTable table tr th:first-child,
    .scheduleTable table tr td:first-child {
        background-color: #f7f7f7;
    }

    .scheduleTableBox .form-control {
        border-color: transparent;
        padding: 0;
        height: auto !important;
        cursor: pointer;
        font-weight: 300;
        font-size: 13px;
    }

    .equipmentDetails .tabContentList {
        padding: 12px;
    }

    .equipmentDetails .tabContentList.topplogyView ul {
        overflow: hidden;
        padding: 5px;
    }

    .equipmentDetails .tabContentList ul li {
        padding: 0;
        margin: 0;
    }

    .equipmentDetails .tabContentList.topplogyView ul li:hover {
        box-shadow: none;
    }

    .equipmentDetailsTabView {
        margin-top: 2px;
    }

    .equipmentDetailsTabView .dashboardTab .nav-item .nav-link {
        background-color: transparent;
        cursor: pointer;
    }

    .equipmentDetailsTabView .dashboardTab .nav-item .nav-link.active {
        background-color: #ffffff;
        border-color: #dddddd;
        color: #1c539e;
    }

    .equipmentDetailsTabView table tbody tr td {
        font-weight: 300;
    }

    .avatarList {
        background-color: #ffffff;
        margin: 3px 0;
        position: relative;
    }

    .avatarListImage {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 34px;
        height: 34px;
    }

    .avatarListImage img {
        width: 34px;
        height: 34px;
        padding: 7px;
    }

    .avatarListDetail {
        padding: 8px 10px 8px 50px;
    }

    .avatarListDetail p {
        color: #888888;
        font-size: 14px;
        margin: 0;
    }

    .tabContentListImage {
        width: 227px;
        height: 227px;
        border-radius: 50%;
        background-color: #f7f7f7;
        border: 1px solid #dddddd;
        margin: 20px auto;
        text-align: center;
    }

    .tabContentListImage img {
        max-width: 100%;
        max-height: 100%;
        padding: 15px;
    }

    /* end dashboard */
    /* etl configuration */
    .progress.progress-line {
        height: 17px;
        margin-top: 3px;
    }

    .progress.progress-line .progress-bar {
        font-size: 12px;
        font-weight: 500;
    }

    /* end etl configuration */
    /* dashboard studio */
    .dashboardTable {
        border: 1px solid #e2e2e2;
        padding: 15px;
    }

    .dashboardTable tbody tr td {
        border-right-color: #e2e2e2;
        padding: 15px 20px;
    }

    .dashboardTable .checkboxLabel {
        width: 100%;
        margin-bottom: 7px !important;
    }

    .dashboardTable .dashboardTableCheckboxLabel {
        padding-left: 0;
    }

    .dashboardTable .dashboardTableCheckboxLabel .checkmark {
        right: 5px;
        left: initial;
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    .dashboardTable .dashboardTableCheckboxLabel .checkmark::after {
        font-size: 12px;
    }

    .dashboardTable .checkboxLabel i {
        position: absolute;
        left: 0;
        top: 3px;
        font-size: 16px;
    }

    /* end dashboard studio */

    /*  json editor  */
    .jsonBox {
        width: 100%;
        position: relative;
        margin-bottom: 25px;
    }

    .jsonBox .borderBox {
        padding: 5px;
    }

    .jsonBox [name=outer-box],
    .jsonBox [name=container],
    .jsonBox [name=body],
    .jsonBox [name=warning-box] {
        width: 100% !important;
    }

    .jsonBox [name=labels],
    .jsonBox [name=warning-box] span:first-child {
        width: 10% !important;
    }

    .jsonBox [name=labels] ~ div,
    .jsonBox [name=warning-box] span:last-child {
        width: 90% !important;
    }

    .jsonBox [name=warning-box] span:last-child p {
        width: 100% !important;
    }

    .jsonBox button {
        width: 120px !important;
    }

    /*  end json editor  */

    /* resize dashboard page */
    .graphBoxResize {
        height: inherit;
        background-color: #f7f7f7;
        border: 1px solid rgba(28, 83, 158, 0.3);
        border-radius: 0px;
    }

    .graphBoxMonitoring {
        background-color: #f7f7f7;
        border: 1px solid rgba(28, 83, 158, 0.3);
        height: 350px;
    }

    .graphBoxResizeHeader {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
    }

    .reactGridLayoutHeader {
        background-color: rgba(28, 83, 158, 0.15);
        padding: 10px 15px;
        color: #1c539e;
        font-size: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .react-grid-layout {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    .react-grid-item .amcharts-chart-div {
        cursor: move !important;
    }

    .react-draggable.react-grid-item > .react-resizable-handle::after {
        content: "\21F2" !important;
        border: 0 !important;
        width: auto !important;
        height: auto !important;
        font-size: 28px !important;
        position: absolute !important;
        right: 1px !important;
        bottom: -8px !important;
        color: #1c539e;
    }

    .react-grid-item.react-draggable-dragging {
        z-index: 0 !important;
    }

    .previewDashboard .react-grid-layout {
        box-shadow: none !important;
        border: 0 !important;
        margin: -5px;
    }

    /* map marker */
    .infoBox {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .infoBox img {
        width: 20px;
        height: 20px;
        z-index: 1;
    }


    /* end marker */
    /* smc device detail page */
    .smcDeviceButton {
        text-align: center;
        padding: 0 20px;
    }

    .smcDeviceButton .btn-dark {
        padding: 11px 15px;
        font-size: 14px;
        text-transform: capitalize;
        margin: 8px 0;
        border-radius: 8px;
        width: 100%;
    }

    .smcDeviceButton .btn-default,
    .smcDeviceButton .btn-info {
        padding: 7px 15px;
        font-size: 14px;
        text-transform: capitalize;
        margin: 5px 0;
        border-radius: 6px;
        width: 100%;
    }

    .smcDeviceButton .btn-default {
        background-color: rgba(0, 0, 0, 0.2);
        color: #4a4a4a;
    }

    .smcDeviceButton .btn:first-child {
        margin-top: 3px;
    }

    .smcDeviceButton .btn:last-child {
        margin-top: 3px;
    }

    .smcMapView {
        padding: 8px;
        height: auto;
        min-height: 618px;
    }

    .smcMapViewCreate {
        min-height: 450px;
    }

    .smcLocation {
        width: 100%;
        display: block;
    }

    ul.smcNavTabs {
        margin-top: 5px;
        position: sticky;
        top: 70px;
        z-index: 2;
    }

    ul.smcNavTabs li.nav-item {
        width: 33.33%;
    }

    ul.smcNavTabs li.nav-item a.nav-link {
        border: 1px solid #dddddd;
        cursor: pointer;
        font-size: 13px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 400;
        color: #4a4a4a;
        background-color: #fafafa;
    }

    ul.smcNavTabs li.nav-item a.nav-link.active {
        color: #1c539e;
        font-weight: 400;
        background-color: #ffffff;
    }

    .smcPolicyBox {
        padding: 0;
    }

    .smcPolicyBox .flex-item {
        padding: 7px 15px;
    }

    .smcPolicyButtonGroup {
        padding: 12px 0;
        position: sticky;
        top: 105px;
        z-index: 2;
        background-color: #fafafa;
    }

    .smcTicketBox {
        height: 488px;
        overflow-y: auto;
        padding: 5px;
    }

    /* emd smc device detail page */
    /* ticket list page */
    .ticketFilter {
        position: relative;
        padding-right: 12px;
    }

    .ticketFilter label {
    }

    .ticketFilter .form-control {
    }

    .ticketOuterBox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 15px;
    }

    .ticketInnerBox {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .ticketListBox {
        position: relative;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.025);
        border: 1px solid #dddddd;
        margin-right: 10px;
        border-radius: 3px;
    }

    .ticketInnerBox:last-child .ticketListBox {
        margin-right: 0;
    }

    .ticketBoxHeader {
        font-size: 14px;
        color: #757575;
        font-weight: normal;
        padding: 10px;
        margin: 0;
        background-color: #ffffff;
        border-bottom: 1px solid #dddddd;
        border-radius: 3px 3px 0 0;
        position: sticky;
        top: 70px;
    }

    .ticketBoxHeader strong {
        margin-left: 5px;
        font-size: 13px;
    }


    /* ticket detail page */
    .ticketDetailBox {
        margin: 0 20px 0 0;
        border: 1px solid #dddddd;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 3px;
        position: relative;
    }

    .ticketDetailBox .button-group {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .ticketDetailBox h4 {
        font-size: 20px;
        margin: 10px 0 15px;
        color: #1c539e;
    }

    .ticketDetailBox h5 {
        font-size: 15px;
        color: #757575;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .ticketDetailBox h5 strong {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .ticketDetailBox table tbody tr td,
    .ticketDetailBox table tbody tr th {
        font-size: 13px;
        color: #757575;
    }

    .commentsOuterBox {
        padding: 15px;
        margin-right: 20px;
    }

    .commentsOuterBox h6 {
        color: #757575;
        margin-top: 15px;
    }

    ul.commentsList {
        padding: 0 10px 0 0;
        margin: 30px 0;
        list-style: none;
        max-height: 550px;
        overflow-y: auto;
    }

    ul.commentsList li {
        margin-bottom: 15px;
    }

    .commentBox {
        padding-left: 55px;
        position: relative;
    }

    .commentImage {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 0;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        line-height: 40px;
        text-align: center;
    }

    .commentImage i {
        font-size: 20px;
        color: #1c539e;
        line-height: 40px;
    }

    .commentDetail {
        border-bottom: 1px solid #e2e2e2;
    }

    .commentDetail h5 {
        font-size: 15px;
        color: #757575;
    }

    .commentDetail p {
        color: #757575;
        font-size: 13px;
    }

    .commentDetail .btn-transparent {
        position: absolute;
        top: 0;
        right: 0;
    }

    .commentInput {
        margin: 20px 20px 0 0;
    }

    .commentInput .btn i {
        margin-right: 5px;
    }

    .commentInput textarea[rows='2'] {
        max-height: 54.5px;
    }

    .commentBoxLoader {
        animation: commentBlink 1s linear infinite;
    }

    .commentBoxLoader .commentImage {
        background-color: #ddd;
    }

    .commentBoxLoader .commentImage i {
        color: #a9a9a9;
    }

    .commentBoxLoader .commentBoxLoaderHeading,
    .commentBoxLoader .commentBoxLoaderDetail {
        height: 18px;
        width: 100px;
        background-color: #e2e2e2;
        display: block;
    }

    .commentBoxLoader .commentBoxLoaderDetail {
        width: 250px;
    }

    @keyframes commentBlink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        0% {
            opacity: 1;
        }
    }
    /* end ticket detail page */
    /* bms view */
    .bmsIconGroup span i {
        margin-right: 10px;
        color: #1c539e;
    }

    .bmsIconGroup span strong {
        margin-right: 5px;
    }

    .bmsStatus {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
        display: inline-block;
    }

    .bmsTable thead tr th i {
        margin-right: 10px;
        color: #1c539e;
    }

    .bmsTable tbody tr td {
        font-weight: normal;
    }

    .bmsTable tbody tr td .btn-link {
        text-transform: capitalize !important;
        padding: 0;
        font-size: 13px;
    }

    .bmsTableStats i {
        margin-right: 10px;
    }

    .bmsInnerTableHeader p {
        margin: 0;
        padding: 12px 15px;
        font-size: 13px;
        font-weight: 600;
        background-color: #ffffff;
    }

    .bmsInnerTableBody p {
        font-size: 13px;
        color: #606060;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #dee2e6;
        background-color: #ffffff;
        padding: 12px 15px;
        margin: 7px 0;
    }

    .bmsInnerTableBody p i {
        margin-right: 10px;
    }

    .bmsInnerTableBody .btn-group {
        padding: 11px 15px;
        border: 1px solid #dee2e6;
        background-color: #ffffff;
        display: block;
        margin: 7px 0;
    }

    .bmsInnerTableBody .btn-group .btn {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
    }

    .bmsInnerTableBody .borderBox {
        border-top: 0;
        margin-top: -7px;
        margin-bottom: 10px;
        background-color: #f1f1f1;
    }

    .bmsInnerTableBody .borderBox .table thead tr th {
        font-size: 13px;
        font-weight: 600;
        background-color: #ffffff;
    }

    .bmsInnerTableBody .borderBox .table tbody tr td {
        font-size: 13px;
        color: #606060;
        font-weight: 400;
        background-color: #ffffff;
    }

    .bmsInnerTableBody .borderBox .table tbody tr td p {
        border: 0;
        padding: 0;
        margin: 0;
    }

    .bmsSfpTable.table thead tr th {
        font-size: 13px;
        background-color: #1c539e;
        color: #ffffff;
    }

    .bmsSfpTable.table tbody tr td {
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
    }

    .bmsConfigButton {
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 0;
        text-transform: capitalize;
    }

    .bmsLocationInput div:first-child {
        width: 100%;
    }

    .location-search-input {
        height: auto;
        color: #495057;
        background-color: #fff;
        border: 1px solid #c3c3c3;
        padding: 8px 15px;
        width: 100%;
        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.09);
        font-size: 14px;
        border-radius: 3px;
        width: 100%;
    }

    .autocomplete-dropdown-container {
        position: absolute;
        left: 0;
        right: 0;
        /*padding: 10px;*/
        z-index: 1;
    }

    /* end bms view */

    ul.appliedDayGroup {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    ul.appliedDayGroup li {
        flex: 0 0 13%;
        max-width: 13%;
    }

    ul.appliedDayGroup li .appliedDay {
        padding: 3px;
        background-color: #dddddd;
        color: #4a4a4a;
        border-radius: 50%;
        margin-right: 7px;
        text-align: center;
        font-weight: bold;
    }

    ul.appliedDayGroup li .appliedDay.appliedDayActive {
        background-color: #1c539e;
        color: #ffffff;
    }

    /* ml studio */
    .outputBox {
        width: 100%;
        border: 0.1em dashed #32CD32;
    }

    .outerBoxInner {
        margin: 2px;
        background-color: #000000;
        padding: 20px;
    }

    .outerBoxInner h4 {
        margin: 5px 0;
        font-weight: bold;
        color: #32CD32;
        text-align: center;
    }

    /* end ml studio */
    /* range slider */
    .input-range__slider {
        background: #1c539e !important;
        border: 1px solid #1c539e !important;
    }

    .input-range__track {
        background: #dddddd !important;
    }

    .input-range__track--active {
        background: #1c539e !important;
    }

    /* end range slider */
    .sensorSliderSwitchBox {
        position: absolute;
        right: 380px;
    }

    /* client page */
    .clientInfo {
        padding-left: 32px;
        min-height: 32px;
        position: relative;
    }

    .clientImage {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #f2f0f1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .clientImage i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #1c539e;
    }

    .clientInfo h4 {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
        font-size: 14px;
        padding-left: 10px;
        line-height: 32px;
    }

    /* end client page */
    /* device config page */
    .deviceConfigBody {
        overflow-y: auto;
    }

    .deviceConfigBody textarea {
        width: 100%;
        height: 450px;
        padding: 15px;
        border: 2px dashed #dddddd;
    }

    .deviceConfigFooter {
        border-top: 1px solid #dddddd;
        padding: 15px;
        text-align: right;
        margin-top: 10px;
    }

    .deviceCheckDetail {
        height: 450px;
        border: 2px solid #dddddd;
        margin-bottom: 5px;
        overflow-y: auto;
    }

    .deviceCheckDetail .btn-link {
        position: absolute;
        right: 0;
        padding: 0;
        top: 7px;
        font-size: 12px;
    }

    .deviceCheckDetail .btn-link:hover {
        text-decoration: underline;
    }

    .deviceCheckDetail ul {
        list-style: none;
        padding: 15px 30px;
        margin: 0;
    }

    .deviceCheckDetail ul li {
        padding: 5px 0;
    }

    /* end device config page */

    /* upload device page */
    #uploadFileTable .button-group {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1;
    }
    #uploadFileTable .button-group .btn-transparent {
        background-color: #ffffff;
        color: #1c539e;
        padding: 0;
        width: 30px;
        height: 30px;
    }
    #uploadFileTable .button-group .btn-transparent:hover {
        background-color: #1c539e;
        color: #ffffff;
    }
    #uploadFileTable .button-group .btn-transparent i {
        /*position: relative;*/
        /*top: initial;*/
        /*left: initial;*/
        /*transform: none;*/
    }
    #uploadFileTable .table tbody tr td {
        background-color: #ffffff;
    }
    /* end upload device page */

    /* query page  */
    #queryCondition .css-1hwfws3 {
        max-height: 125px;
        overflow-y: auto;
    }
    #reactSelectIndex .css-15k3avv {
        z-index: 2;
    }
    /* end query page */
    /* sfp detail page */
    .sfpView {
        height: 500px;
        margin: -15px;
        background-color: #ffffff !important;
    }
    .sfpDeviceButton .btn-info {
        margin: 0 0 5px;
        font-size: 13px;
    }
    .sfpDeviceButton .btn:first-child {
        margin-top: 0;
    }
    .sfpDeviceButton .btn:last-child {
        margin: 0;
    }
    .graphView {
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .graphViewHeader {
        padding: 5px;
        position: relative;
    }
    .graphViewHeader h4 {
        font-size: 16px;
        padding: 10px;
        color: #1c539e;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;
        border-bottom: 1px solid #dddddd;
    }
    .graphViewHeader .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
    }
    .graphViewBody {
        padding: 10px;
    }
    .tabsOuterBox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 15px 0;
    }
    .tabsList {
        /*flex: 0 0 20%;*/
        /*max-width: 20%;*/
    }
    .tabsList ul {
        margin: 0;
        padding: 0 10px 0 0;
        list-style: none;
        position: sticky;
        top: 75px;
    }
    .tabsList ul li {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        font-size: 14px;
        color: #505050;
        position: relative;
    }
    .tabsList ul li:last-child {
        border-bottom-color: transparent;
    }
    .tabsList ul li:hover {
        color: #1c539e;
        cursor: pointer;
    }
    .tabsList ul li.active {
        background-color: #ffffff;
        color: #1c539e;
    }
    .tabsList ul li.active::after {
        content: "\25BA";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 16px;
        color: #1c539e;
    }
    .tabsContent {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        padding: 20px;
        background-color: #ffffff;
        border-radius: 3px;
        position: relative;
    }
    .tabsContentHeader p {
        font-size: 13px;
        color: #606060;
        line-height: 24px;
    }
    .tabsContentHeader p strong {
        margin-right: 5px;
        color: #4a4a4a;
        font-weight: bold;
    }
    ul.graphStandards {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
    }
    ul.graphStandards li {
        font-size: 13px;
        color: #505050;
        line-height: 20px;
        position: relative;
        padding: 5px 5px 5px 30px;
    }
    ul.graphStandards li .badge {
        width: 16px;
        height: 16px;
        display: block;
        margin: 0;
        position: absolute;
        top: 7px;
        left: 0;
    }
    ul.graphStandards li strong {
        margin-right: 5px;
    }
    ul.graphStandards li i {
        font-size: 15px;
        margin: 0 10px;
    }
    .graphProgressBar {
        position: relative;
    }
    .graphProgressBarContent {
        position: absolute;
        bottom: 10px;
        left: 115px;
        text-align: center;
    }
    .graphProgressBarContent h4 {
        font-size: 32px;
        font-weight: bold;
        margin: 0;
    }
    .graphProgressBarContent small {
        font-size: 13px;
        color: #757575;
    }
    .graphProgressBarContent p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .tabsContentHeader .graphInnerBox {
        margin: 30px 0 20px;
    }
    .tabsContentHeader .graphInnerBox .graphBox {
        height: 320px;
        border-radius: 3px;
        border-color: #f3f3f3;
    }
    .tabsContentInner .nav-tabs li {
        width: 20%;
    }
    .tabsContentInner .nav-tabs li a {
        display: block;
        padding: 5px 15px;
        font-size: 13px;
        color: #4a4a4a;
        border: 1px solid #dddddd;
        border-width: 1px 1px 0 1px;
        border-radius: 5px 5px 0 0;
        background-color: #f7f7f7;
    }
    .tabsContentInner .nav-tabs li a:hover {
        color: #1c539e;
        cursor: pointer;
        background-color: #ffffff;
    }
    .tabsContentInner .nav-tabs li a.active {
        background-color: #1c539e;
        color: #ffffff;
        border-color: #1c539e;
    }
    .tabsContentList {
        padding-top: 45px;
        position: relative;
        margin: -5px;
    }
    .tabsContentList h4 {
        font-size: 15px;
        margin: 0 0 15px;
        padding: 10px 15px;
        background-color: #f7f7f7;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        color: #1c539e;
        z-index: 1;
    }
    .tabsContentList ul {
        padding: 0;
        margin: 0;
        height: 435px;
        overflow-y: auto;
    }
    .tabsContentList ul li {
        list-style: none;
        border-bottom: 1px;
        padding: 5px 30px 7px 95px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e2e2e2;
        transition: all ease-in-out 0.3s;
        position: relative;
        min-height: 60px;
    }
    .tabsContentList ul li p {
        margin-bottom: 5px;
        font-size: 13px;
        color: #505050;
    }
    .tabsContentList ul li p strong {
        color: #000000;
    }
    .tabsContentList ul li i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #757575;
    }
    .tabsContentList ul li:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }
    .tabsContentList ul li:hover p strong,
    .tabsContentList ul li:hover i{
        color: #1c539e;
    }
    .tabsContentList ul li .tabsContentListImage {
        width: 80px;
        height: 60px;
        /*background-color: #f7f7f7;*/
        border: 1px solid #e2e2e2;
        border-bottom-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
    }
    .tabsContentList ul li .tabsContentListImage img {
        width: 100%;
        height: 100%;
    }
    .tabsContentList ul li:last-child {
        margin-bottom: 0;
    }
    /* end sfp detail page */

    /* sensor page */
    .sensorCard {
        margin: 0 0 15px;
    }
    .sensorCard:last-child {
        margin-bottom: 0;
    }
    .sensorCard .card-header .btn-link {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .sensorDetail {
        padding: 10px;
    }
    .sensorDetail p {
        font-size: 13px;
        color: #757575;
        line-height: 24px;
    }
    .sensorImage {
        /*border-right: 1px solid #dddddd;*/
        height: 260px;
        /*margin: 5px 10px 0 0;*/
        background-color: #fff;
        position: relative;
        overflow: hidden;
    }
    .sensorImage img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sensorFeature {
        /*margin: 5px 0 0 5px;*/
    }
    .sensorFeature ul li {
        font-size: 14px;
        color: #000000;
        line-height: 24px;
        padding: 4px;
    }
    #sensorsMoreInfoModal .sensorImage{
        height: auto;
        padding: 10px;
    }
    #sensorsMoreInfoModal .sensorImage img {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        transform: none;
    }
    .sensorTabs ul {
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #dddddd;
        display: flex;
        margin-bottom: 10px;
    }
    .sensorTabs ul li {
        flex: 0 0 25%;
        max-width: 25%;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 7px 15px;
        background-color: #ffffff;
        cursor: pointer;
        color: #606060;
        font-size: 13px;
    }
    .sensorTabs ul li i {
        margin-right: 10px;
    }
    .sensorTabs ul li:hover {
        color: #1c539e;
        background-color: #ffffff;
    }
    .sensorTabs ul li.active {
        background-color: #1c539e;
        color: #ffffff;
    }
    /* end sensor page */

}

@media only screen and (max-width: 1200px) {
    .leftNavbar {
        width: 75px;
        transition: all ease-in-out 0.2s;
    }

    .leftNavbar .navbar-nav {
        transition: all ease-in-out 0.2s;
    }

    .leftNavbar .navbar-nav .nav-item .nav-link {
        text-align: center;
    }

    .leftNavbar .navbar-nav .nav-item .nav-link i {
        font-size: 20px;
        margin-right: 0;
    }

    .leftNavbar .navbar-nav .nav-item .nav-link span {
        display: none;
    }

    .graphBox,
    .graphBoxTable {
        height: 300px;
    }
}

@media only screen and (max-width: 991.98px) {
    .pageBreadcrumb {
        top: 44px;
    }
    .pageBreadcrumb .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .pageBreadcrumb .col-4 {
        flex: 0 0 0;
        max-width: 0;
    }
    .pageBreadcrumb h4 {
        font-size: 16px;
    }
    .pageBreadcrumb .btn-primary {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
    .contentForm {
        width: 95%;
    }

    /*.dashboardCountBox {*/
        /*padding-left: 12px;*/
        /*padding-right: 12px;*/
    /*}*/

    /*.dashboardCountDetail {*/
        /*padding-left: 60px;*/
    /*}*/

    /*.dashboardCountDetail p {*/
        /*font-size: 12px;*/
    /*}*/

    /*.dashboardCountImage img {*/
        /*width: 42px;*/
    /*}*/

    /*.dashboardCountInner h5 {*/
        /*font-size: 14px;*/
        /*min-height: 34px;*/
    /*}*/

    /*.dashboardCountGraph {*/
        /*width: 110px;*/
        /*height: 110px;*/
    /*}*/

    /*.progress-value p {*/
        /*font-size: 12px;*/
    /*}*/

    /*.graphOuterBox .flex-item.fx-b50 {*/
        /*flex-basis: 100% !important;*/
        /*max-width: 100% !important;*/
    /*}*/

    /*.graphBox {*/
        /*height: 250px;*/
    /*}*/

    /*.graphBoxTable {*/
        /*height: auto;*/
    /*}*/

}

