@media only screen {
    ul.oyoDashboardCount li {
        flex: 0 0 11.1%;
        max-width: 11.1%;
    }
    .filterOuterBox {
        padding-left: 230px;
        position: relative;
    }
    .filterLeftBox {
        position: fixed;
        top: 135px;
        left: 20px;
        width: 230px;
    }
    .filterLeftBox ul li {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 0 10px;
    }
    .filterLeftBox ul li label {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    .filterLeftBox ul li select.form-control {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
        width: 100%;
    }
    .filterContent {
        margin-left: 20px;
    }
    .filterContent ul.nav-tabs {
        border: 0;
    }
    .filterContent ul.nav-tabs.filterContentTabs {
        position: sticky;
        top: 59px;
        z-index: 4;
    }
    .filterContent ul.nav-tabs li {
        width: 15%;
        margin-right: 2px;
    }
    .filterContent ul.nav-tabs li a.nav-link {
        border: 1px solid #e2e2e2;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        background-color: var(--whiteColor);
        color: var(--contentColor);
        font-size: 0.98em;
    }
    .filterContent ul.nav-tabs li a.nav-link:hover {
        background-color: #e3f9fc;
        color: var(--themeColor);
        cursor: pointer;
    }
    .filterContent ul.nav-tabs li a.nav-link.active {
        background-color: var(--themeColor);
        color: var(--whiteColor);
    }
    .filterContent .tab-content {
        border: 1px solid #e2e2e2;
        border-width: 1px 0 0 1px;
        padding: 20px 0 20px 15px;
    }
    .topologyBox ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .topologyBox ul li {
        padding-bottom: 30px;
        position: relative;
    }
    .topologyBox ul li ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .topologyBox ul li ul li {
        flex: 0 0 7.6%;
        max-width: 7.6%;
        padding-bottom: 10px;
    }
    .topologyBox ul li .dashboardCountDetail {
        margin: 0 auto 50px;
        padding: 10px;
        width: 20%;
        text-align: left;
    }
    .topologyBox ul li .dashboardCountDetail::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 25px;
        bottom: -25px;
        background-color: var(--borderColor);
    }
    .topologyBox ul li ul li .dashboardCountDetail {
        padding: 10px 5px;
        margin-right: 5px;
        margin-bottom: 0;
        width: auto;
        text-align: center;
    }
    .topologyBox ul li ul li .dashboardCountDetail p {
        font-size: 13px;
    }
    .topologyBox ul li ul li .dashboardCountDetail h4 {
        font-size: 18px;
    }
    .topologyBox ul li ul li:last-child .dashboardCountDetail {
        margin-right: 0;
    }
    .topologyBox ul li ul li::before {
        content: '';
        position: absolute;
        height: 1px;
        background-color: var(--borderColor);
        width: 50%;
        top: -25px;
    }
    .topologyBox ul li ul li::after {
        content: '';
        position: absolute;
        left: 50%;
        height: 1px;
        background-color: var(--borderColor);
        width: 50%;
        top: -25px;
    }
    .topologyBox ul li ul li:first-child::before,
    .topologyBox ul li ul li:last-child::after{
        display: none;
    }
    .topologyBox ul li ul li .dashboardCountDetail::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 20px;
        background-color: var(--borderColor);
        width: 1px;
        top: -25px;
    }
    .topologyBox ul li ul li .dashboardCountDetail::after {
        content: '\25BC';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -15px;
        font-size: 15px;
        color: var(--borderColor);
    }
    .graphBoxTabs ul.nav-tabs {
        padding: 15px 20px 10px;
    }
    .graphBoxTabs ul.nav-tabs li {
        width: 15%;
        margin-right: 10px;
    }
    .graphBoxTabs ul.nav-tabs li a.nav-link {
        border: 0;
        border-bottom: 2px solid var(--borderColor);
        border-radius: 0 0 2px 2px;
        padding: 0 10px 5px;
    }
    .graphBoxTabs ul.nav-tabs li a.nav-link:hover {
        background-color: transparent;
    }
    .graphBoxTabs ul.nav-tabs li a.nav-link.active {
        background-color: transparent;
        border-color: var(--themeColor);
        color: var(--themeColor);
    }
    .graphBoxTabs ul.nav-tabs li a.nav-link span {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    .graphBoxTabs .tab-content {
        border: 0;
        padding: 0;
    }
    .hotelListView ul {
        padding: 0;
        list-style: none;
    }
    .hotelListView ul li {
        margin-bottom: 15px;
        background-color: var(--whiteColor);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding: 12px 30px 12px 110px;
        border-radius: 5px;
        position: relative;
        transition: all ease-in-out 0.3s;
    }
    .hotelListView ul li .hotelListImage {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: 2px solid var(--borderColor);
        text-align: center;
        background-color: #fafafa;
        padding: 2px;
        position: absolute;
        top: 10px;
        left: 15px;
    }
    .hotelListView ul li .hotelListImage img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
    }
    .hotelListView ul li .hotelListImage .hotelListImageStatus {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        text-align: center;
        background-color: #ffd633;
    }
    .hotelListView ul li .hotelListImage .hotelListImageStatus i {
        font-size: 0.96em;
        margin-top: 1px;
        color: #b36b00;
    }
    .hotelListView ul li .hotelListContent {
        border-left: 1px solid var(--borderColor);
        padding-left: 20px;
    }
    .hotelListView ul li .hotelListContent p {
        font-size: 12px;
        color: var(--contentColor);
        margin: 0;
    }
    .hotelListView ul li .hotelListContent h4 {
        font-size: 16px;
        color: var(--lightBlueColor);
        font-weight: 600;
        margin: 7px 0;
    }
    .hotelListView ul li .hotelListContent h5 {
        font-size: 13px;
        color: var(--contentColor);
        margin: 0;
    }
    .hotelListView ul li .hotelListContent p strong,
    .hotelListView ul li .hotelListContent h5 strong {
        color: var(--textColor);
        margin-left: 5px;
    }
    .hotelListView ul li .badge-group {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .hotelListView ul li .badge-group .badge-pill {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
        border-radius: 20px;
    }
    .hotelListView ul li .badge-group .badge-pill i {
        margin-right: 5px;
    }
    .hotelListView ul li:hover {
        background-color: rgba(230, 250, 255, 0.4);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
        transition: all ease-in-out 0.3s;
        transform: translateY(-3px);
        cursor: pointer;
    }
    .hotelListFilter.filterBox {
        position: sticky;
        top: 120px;
        z-index: 10;
        background-color: #fafafa;
    }
    .hotelListFilter.filterBox ul {
        padding-right: 100px;
        position: relative;
    }
    .hotelListFilter.filterBox ul li {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .hotelListFilter.filterBox ul li .form-group {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hotelListFilter.filterBox ul li label {
        flex: none;
        padding: 0 0 5px;
        max-width: 100%;
    }
    .hotelListFilter.filterBox ul li select.form-control {
        display: block;
        width: 100%;
        flex: none;
        max-width: 100%;
    }
    .hotelListFilter.filterBox ul .btn {
        position: absolute;
        right: 0;
        bottom: 15px;
    }
    .hotelDetailImage {
        height: 246px;
        padding: 10px 10px 0;
        overflow: hidden;
        position: relative;
    }
    .hotelDetailImage img {
        width: 100%;
        height: 100%;
        object-position: center;
    }
    .hotelDetailImage .hotelDetailImageStatus {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 5px;
        right: 15px;
        border-radius: 50%;
        text-align: center;
        background-color: #ffd633;
    }
    .hotelDetailImage .hotelDetailImageStatus i {
        font-size: 24px;
        color: #b36b00;
        line-height: 50px;
    }
    .hotelDetailImageOverlay {
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 10px 10px 0;
    }
    .hotelDetail {
        padding: 10px;
    }
    .hotelDetail p {
        font-size: 14px;
        color: var(--contentColor);
        margin-bottom: 5px;
    }
    .hotelDetail p strong {
        margin-left: 7px;
        color: var(--textColor);
    }
    .hotelDetail p:last-of-type {
        margin-bottom: 1px;
    }
    .hotelDetail p .badge-pill {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
        border-radius: 20px;
        margin-right: 10px;
        min-width: 135px;
    }
    .hotelDetail p .badge-pill i {
        margin-right: 5px;
    }
    .roomListView {
        height: 460px;
        overflow-y: auto;
    }
    .roomListView.hotelListView ul li {
        margin-bottom: 5px;
        padding-left: 90px;
    }
    .roomListView.hotelListView ul li .hotelListImage {
        height: 70px;
        width: 70px;
        left: 5px;
        border-width: 1px;
    }
    .roomListCheck {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #33cc33;
    }
    .roomListCheck i {
        color: var(--whiteColor);
        font-size: 12px;
    }
    .roomListIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: var(--contentColor);
    }
    .roomListView.hotelListView ul li.active {
        background-color: rgba(230, 250, 255, 0.4);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    }
    .roomListView.hotelListView ul li.active .roomListIcon {
        color: var(--themeColor);
    }
    .roomDetailView {
        padding: 20px;
        min-height: 520px;
    }
}
