:root{
    --themeColor: #00b8e4 !important;
}

@media only screen {
    .btn-primary {
        background-color: var(--themeColor) !important;
        border-color: var(--lightBlueColor) !important;
    }
    .btn-primary-icon {
        background-color: var(--lightBlueColor) !important;
    }
    .topNav {
        background-color: var(--themeColor) !important;
    }
    .topNav .navbar-nav .nav-item .nav-link,
    .topNav .navbar-nav .nav-item:hover .nav-link,
    .topNavProfile p strong,
    .topNavProfile p span {
        color: var(--whiteColor) !important;
    }
    .topNav .navbar-nav .nav-item.active .nav-link {
        color: var(--whiteColor) !important;
        border-bottom-color: var(--whiteColor) !important;
    }
    .topNav .navbar-nav .nav-item.dropdown .dropdown-menu .nav-link {
        color: var(--textColor) !important;
    }
    .pageBreadcrumb h4 {
        color: var(--themeColor) !important;
    }
    .loginMenu button,
    .topNavProfile h5 {
        color: var(--whiteColor) !important;
    }
    .topNavProfile h5 span:first-child {
        color: var(--whiteColor) !important;
        font-size: 20px;
        font-weight: 600;
    }
    .topNavProfile h5 span:last-child {
        color: var(--whiteColor) !important;
        font-size: 16px;
        font-weight: 600;
    }
}
