/* ***************supervisor dashboard***************** */

.supervisorDashboard .genericDeviceList {
    padding-top: 10px !important;
    position: relative;
    height: 100%;
    background-color: #fff;
}

.supervisorDashboard .genericDeviceList .searchBarBox {
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 100%;
    /* box-shadow: 0 4px 4px rgba(0,0,0,0.07); */
    background: #fff;
    border-radius: 2px;
}

.supervisorDashboard .genericDeviceList .searchBarBox p {
    margin: 0 0 6px 0;
    color: var(--themeColor);
    font-weight: 600;
    font-size: 14px;
}

.supervisorDashboard .genericDeviceList .searchBarBox .searchbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.supervisorDashboard .genericDeviceList .searchBarBox .searchbar i {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 17px;
    color: gray;
}

.supervisorDashboard .mapView {
    padding: 0 !important;
}

.supervisorDashboard .mapView img {
    width: 100%;
    height: 100%;
}

.supervisorDashboard .dashboardCard {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 5px;
    /* margin-top: 15px; */
}

.supervisorDashboard .dashboardCard:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.supervisorDashboard .dashboardCard p.cardHeader {
    font-size: 13px;
    color: var(--themeColor);
    margin: 0;
    padding: 5px;
    font-weight: 600;
}

.supervisorDashboard .dashboardCard p.cardHeader span {
    float: right;
}

.supervisorDashboard .dashboardCard .cardBody {
    height: 200px;
}

.supervisorDashboard .dashboardCard .cardBody img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
}

.supervisorDashboard .listHeader {
    background-color: #fff;
    border: 0 !important;
}

/* counters */
.supervisorDashboard .newCounters .dashboardCountDetail {
    padding-right: 50% !important;
    padding-left: 45px !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    position: relative;
    height: 62px;
    padding: 0;
    /* background:linear-gradient(to right , #fff , #e5f4f5); */
}

.supervisorDashboard .newCounters .dashboardCountDetail .text {
    /* border-left: 2px solid rgb(238, 236, 236); */
    text-align: left;
    padding-left: 10px;
}

.supervisorDashboard .newCounters .dashboardCountDetail div {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0, 0.07);
    text-align: center;
    padding: 5px 0;
    border-radius: 0;
    /* background-color: #fff; */
}

.supervisorDashboard .newCounters .dashboardCountDetail .text p {
    font-size: 11px !important;
    font-style: normal !important;
    z-index: 1 !important;
    font-weight: 600;
}

.supervisorDashboard .newCounters .dashboardCountDetail .text h4 {
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.supervisorDashboard .newCounters .dashboardCountDetail .info {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 150px;
    padding: 0;
    height: 60px;
    padding-bottom: 20px;
}

.supervisorDashboard .newCounters .dashboardCountDetail .info img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}

.supervisorDashboard .newCounters .dashboardCountDetail .info p {
    font-size: 11px;
    line-height: 15px;
    font-style: normal;
    color: gray;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.supervisorDashboard .newCounters .dashboardCountDetail .dashboardCountIcon {
    position: absolute;
    top: 45%;
    transform: translateY(-50%, -50%);
    left: 5px;
    border-radius: 50%;
    /* display: none; */
}

.supervisorDashboard .dashboardCountIcon img {
    width: 75%;
    height: 40px;
    object-fit: contain;
    object-position: center;
}

.headline {
    padding: 5px 0;
    margin: 0;
    color: gray;
}

.headline h5 {
    font-size: 13px;
    padding-left: 5px;
    padding-bottom: 4px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.technicianCardBody .nav-tabs {
    border: none !important;
}

.technicianCardBody .nav-item {
    border: 1px solid var(--borderColor) !important;
    border-radius: 4px !important;
    margin-bottom: 5px;
    height: 49px;
    line-height: 2.5;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.technicianCardBody .nav-tabs .nav-item .nav-link {
    border: none !important;
    color: #909497;
    /*background: #D6EAF8;*/
    background-color: #ffffff;
    transition: all .4s ease;
    border-radius: 4px;
    padding-left: 43px;
    position: relative;
    font-weight: 600;
}

.technicianCardBody .nav-tabs .nav-item:hover {
    box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in;
}

.technicianCardBody .nav-tabs .nav-item:hover .half-circle ,
.technicianCardBody .nav-tabs .nav-item:hover .right-half-circle{
    background-color: var(--themeColor) !important;
    transition: all .4s ease;
}

.technicianCardBody .nav-tabs .nav-item .nav-link.active {
    color: var(--themeColor) !important;
    background-color: #ffffff !important;
    transition: all .4s ease;
    border-radius: 4px;
    border: none !important;
}

.technicianCardBody .nav-tabs .nav-item .nav-link:hover {
    color: var(--themeColor);
}

.technicianCardBody .contentTableBox table thead tr th {
    font-size: 14px;
    padding: 10px 15px 10px !important;
    text-align: left;
    color: var(--themeColor);
    z-index: 1;
    background-color: #fafafa;
    border: 0;
    font-weight: 500;
}

.technicianCardBody .nav-tabs .nav-item .nav-link.active .half-circle ,
.technicianCardBody .nav-tabs .nav-item .nav-link.active .right-half-circle{
    background-color: var(--themeColor);
    transition: all .4s ease;
}

.technicianCardBody .right-half-circle {
    display: block;
    width: 15px;
    height: 30px;
    background-color: #D6EAF8;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-left: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all .4s ease;
}

.technicianCardBody .half-circle {
    display: block;
    width: 15px;
    height: 30px;
    background-color: #D6EAF8;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all .4s ease;
}
/*  technician Dashboard css below*/
/*.TechnicianDashBoard .techDashImageBox {*/
/*    width: 100%;*/
/*    height: 230px;*/
/*}*/
/*.TechnicianDashBoard .techDashImageBox img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.TechnicianDashBoard .cardHeader {*/
/*    padding: 0px 0 7px 0px;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    display: block;*/
/*    font-weight: 600;*/
/*    border-bottom: 2px solid var(--borderColor);*/
/*    margin-bottom: 10px;*/
/*    color: var(--textColor);*/
/*}*/
/*.TechnicianDashBoard .techTableCardBody{*/
/*    height: 293px;*/
/*    overflow: auto;*/
/*}*/
/*.TechnicianDashBoard .listBox {*/
/*    margin-bottom: 4px !important;*/
/*}*/
.technicianList {
    list-style-type: none;
    padding:0;
    margin: 0;
    padding:2px 0px 10px 0px;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
}
.technicianCard {
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1) !important;
    border: none;
}
.technicianCard:hover {
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.1) !important;
    transition: all .4s ease;
}
.technicianList li {
    flex: 0 0 14.2%;
    padding-right: 10px;
}
.technicianCounter:hover {
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.1);
    transition: all .4s ease;
    transform: translateY(-5px);
}
.technicianList li:last-child{
    padding-right: 0 !important;
}
.technicianCounter {
    height: 85px;
    width: 100%;
    background: #ffffff;
    position: relative;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.1);
    padding: 45px 10px 5px 80px;
    border-radius: 4px;
    transition: all .4s ease;
}
.technicianCounter .counterImage {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    background: white;
}
.technicianCounter .counterImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.technicianCounter .counterText {
    text-align: right;
}
.technicianCounter .counterText p {
    position: relative;
    font-weight: 600;
    color: var(--themeColor);
    font-size: 12px;
}
.technicianCounter .counterIcon {
    position: absolute;
    top: 4px;
    right: 5px !important;
    width: 40px;
    height: 40px;
    left: unset;
    background: transparent;
    border: none !important;
    padding:5px;
}
.technicianCounter .counterIcon img {
    height: 100%;
    width: 100%;
}
.technicianProfileImage {
    height: 178px;
    width: 100%;
    padding: 4px;
    background: white;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
}
.technicianProfileImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.technicianDashBoardContent .card-header {
    border: 0 !important;
    background: #D7DBDD !important;
}
.technicianDashBoardContent .card-header p {
    margin: 0 !important;
    color: #2E4053;
    font-weight: 600;
}
.technicianDashBoardContent .card-body p {
    margin-bottom: 1px !important;
    font-size: 12px;
}
.technicianDashBoardContent .card-body p span {
    margin-right: 14px;
    font-size: 16px;
    font-weight: 600;
}
.technicianCard .cardBody {
    height: 269px;
    width: 100%;
    border-radius: 5px;
}
.technicianCard .cardBody  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.technicianCard .cardHeader {
    margin: 15px 30px 0px 30px;
    border-bottom: 1px solid var(--borderColor);
    font-weight: 600;
    color: var(--themeColor);
    font-size: 12px;
}
.technicianDashBoardContent .listBox{
    margin-bottom: 10px !important;
}
.technicianDashBoardContent .contentTableBox table thead tr th {
    font-size: 14px;
    padding: 7px 15px 10px !important;
    text-align: left;
    color: var(--themeColor);
    z-index: 1;
    background-color: #fafafa;
    border: 0;
    font-weight: 500;
}
.technicianDashBoardContent .technicianCard .contentTableBox {
    height: 235px;
    overflow: auto;
}
.amcharts-main-div a {
    display: none !important;
}