
@media only screen{
  .tenantDetails .card{
      height: calc(100% - 15px);
      max-height: calc(100% - 15px);
  }
  .tenantDetailBox{
      padding-left: 160px;
      position: relative;
      height: 100%;
  }
  .tenantDetailBox .tenantDetailImage{
      position: absolute;
      top:0;
      left:0;
      width: 140px;
      height: 140px;
  }
  .tenantDetailBox .tenantDetailImage img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
  }
  .tenantDetailBox .tenantDetailContent h5{
      color: var(--themeColor);
      font-weight: 600;
  }
  .tenantDetailBox .tenantDetailContent h6{
      color: var(--contentColor);
      font-size: 13px;
      line-height: 22px;
      margin: 0;
  }
  .tenantDetailBox .tenantDetailContent h6 strong{
      color: var(--themeColor);
  }
  .assignNavigationBox h2{
      font-size: 15px;
      color: var(--themeColor);
      font-weight: 600;
  }
  .assignNavigationBox h2 span.edit{
    font-size: 13px;
    margin-left: 5px;
    /* float: right; */
  }
  .assignNavigationBox span.badge{
    padding: 8px;
    background-color: aliceblue !important;
    color: var(--contentColor);
    font-weight: 600;
    font-size: 13px;
    margin: 5px 10px 0 0 ;
  }
  .allotedDeviceTypeBox h2{
    font-size: 15px;
    color: var(--themeColor);
    font-weight: 600;
  }
  .allotedDeviceTypeBox h2 span.edit{
    font-size: 13px;
    margin-left: 5px;
    /* float: right; */
  }
  .tenantDetails .deviceType ul.deviceList li .card .card-body {
    background-color: rgba(0,0,0,0.01);
  }
}
