@media only screen {
    ul.ticketOuterBox {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    ul.ticketOuterBox li {
        flex: 0 0 20%;
        max-width: 20%;
        height: calc(100vh - 210px);
    }
    .ticketList{
        margin: 0 5px;
        height: 100%;
        position: relative;
        border: 1px solid var(--borderColor);
        border-radius: 4px;
    }
    .ticketListHeader {
        border-bottom: 1px solid var(--borderColor);
        border-radius: 4px 4px 0 0;
        padding: 8px 12px;
        background-color: var(--whiteColor);
        position: relative;
    }
    .ticketListHeader p {
        font-weight: 600;
        margin: 0;
        color: var(--textColor);
        position: relative;
        font-size: 0.95em;
        /* padding-left: 30px; */
    }
    .ticketListHeader .badge-pill {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        /* right: 20px; */
        margin-left: 10px;
        font-weight: 600;
        font-size: 12px;
        padding: 4px 10px;
    }
    .ticketListHeader .ticketListHeaderGroup {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        cursor: pointer;
        z-index: 2;
    }
    .ticketListHeader .ticketListHeaderGroup .checkboxLabel {
        display: inline-block;
        padding-left: 30px;
    }
    .ticketListBody {
        height: calc(100% - 37px);
        overflow-y: auto;
        padding: 10px 0;
    }
    .ticketContainer {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        margin: 5px 10px 10px;
        padding: 8px 20px 8px 12px;
        background-color: var(--whiteColor);
        position: relative;
        border-radius: 5px;
        border: 1px solid transparent;
        border-left-width: 4px;
        transition: all ease-in-out 0.3s;
    }
    .ticketContainer .ticketSlot{
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        right: -10px;
        transform: translateY(-50%);
        background-color: var(--whiteColor);
        z-index: 1;
        box-shadow: inset 3px 0px 4px rgba(209, 209, 209, 0.84);
    }
    .ticketContainer p {
        margin: 0;
        font-size: 11px;
        color: var(--textColor);
        font-style: italic;
        position: relative;
        letter-spacing: 0.02em;
    }
    .ticketContainer p span {
        padding-right: 8px;
    }
    .ticketContainer p span i {
        font-size: 13px;
    }
    .ticketContainer h4 {
        color: var(--themeColor);
        font-size: 14px;
        font-weight: 600;
        margin: 7px 0;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ticketContainer h5 {
        font-size: 13px;
        color: var(--contentColor);
        margin: 0 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .ticketCheckBox {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 3;
    }
    .ticketCheckBox .checkmark {
        background-color: var(--borderColor);
    }
    .borderOpen {
        border-left-color: #007bff !important;
    }
    .borderInProgress {
        border-left-color: #ffc107 !important;
    }
    .borderResolved {
        border-left-color: #17a2b8 !important;
    }
    .borderClosed {
        border-left-color:  #28a745 !important;
    }
    .borderReOpen {
        border-left-color: #dc3545 !important;
    }
    .initialsBox {
        padding: 0 0 0 35px;
        position: relative;
    }
    .initialsImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #e3f9fc;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
        line-height: 28px;
        color: var(--themeColor);
        transition: all ease-in-out 0.3s;
    }
    .initialsBox p {
        font-size: 13px;
        font-weight: 600;
        color: var(--textColor);
        margin: 0;
        line-height: 28px;
        font-style: normal;
        text-transform: capitalize;
    }
    .ticketContainer:hover {
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.11);
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        background-color: #e6ffff;
    }
    .ticketContainer:hover .ticketSlot {
        background-color: #e6ffff;
    }
    .ticketContainer:hover .initialsImage {
        background-color: var(--themeColor);
        color: var(--whiteColor);
        transition: all ease-in-out 0.3s;
    }
    /* ticket page end */

    /* ticket Detail start */
    .ticketDetailCard {
        padding: 25px;
        border-left: 7px solid transparent;
        border-radius: 5px;
        position: relative;
        min-height: 470px;
    }
    .ticketDetailCard .close{
        color: var(--textColor);
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .ticketDetails{
        margin-bottom: 20px;
    }
    .ticketDetails h5{
        font-size: 14px;
        margin: 0 0 10px;
        font-weight: 600;
        color: var(--textColor);
    }
    .ticketDetails ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .ticketDetails ul li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .ticketDetails ul li label {
        font-size: 13px;
        color: var(--themeColor);
        margin: 0;
    }
    .ticketDetails ul li .dropdownToggleOption {
        border: 1px solid transparent;
        border-bottom: 2px solid var(--borderColor);
        padding: 5px 10px;
        background-color: transparent;
        color: var(--textColor);
        border-radius: 5px;
        font-size: 14px;
        transition: all ease-in-out 0.3s;
        position: relative;
    }
    .ticketDetails ul li .dropdownToggleOption::after {
        content: '\25BE';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 20px;
        color: var(--contentColor);
    }
    .ticketDetails ul li .dropdownToggleOption:hover {
        background-color: #f7fafd;
        border-color: var(--borderColor);
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }
    .ticketDetails .dropdown-menu {
        width: 100%;
        border-color: var(--borderColor);
        border-top-color: transparent;
        border-radius: 0 0 3px 3px;
    }
    .ticketDetails .dropdown-menu .dropdown-item {
        margin: 0;
        font-size: 13px;
        color: var(--textColor);
        transition: all ease-in-out 0.3s;
    }
    .ticketDetails .dropdown-menu .dropdown-item:hover{
        background-color: #f7fafd;
        color: var(--themeColor);
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    .ticketDescription{
        margin-bottom: 20px;
    }
    .ticketDescription  h4{
        color: var(--lightBlueColor);
        font-size: 16px;
        font-weight: 600;
    }
    .ticketDescription p {
        color: var(--contentColor);
        font-size: 0.98em;
    }
    .ticketDescription .ticketIconGroup {
        margin: 20px 0;
    }
    .ticketComments h4 {
        font-size: 14px;
        color: var(--textColor);
        padding: 0 5px 5px;
        border-bottom: 1px solid var(--borderColor);
        margin: 0 0 15px;
        position: relative;
    }
    .ticketComments h4 .initialsBox {
        position: absolute;
        top: -10px;
        right: 0;
    }
    .ticketComments .commentForm .form-control {
        padding: 10px;
        color: var(--textColor);
    }
    .ticketComments .commentForm .btn {
        border-radius: 0 5px 5px 0;
        padding: 8px 10px;
        border-width: 2px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    }
    .ticketComments .commentForm .btn-success {
        background-color: #19bc15;
        color: var(--whiteColor);
        padding: 8px 15px;
    }
    .ticketComments .commentForm .btn-info {
        border-radius: 0;
    }
    .ticketComments .commentForm .btn i {
        margin-right: 7px;
    }
    .commentsOuterBox {
        max-height: 300px;
        overflow-y: auto;
        margin-top: 20px;
    }
    ul.commentsList {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    ul.commentsList li {
        margin-bottom: 10px;
    }
    .commentBox {
        padding-left: 40px;
        position: relative;
        transition: all ease-in-out 0.3s;
    }
    .commentDetail {
        border-bottom: 1px solid var(--borderColor);
        border-radius: 3px;
    }
    .commentDetail p {
        color: var(--textColor);
        font-size: 13px;
        margin-bottom: 5px;
        padding-right: 100px;
    }
    .commentDetail small {
        color: var(--contentColor);
        font-size: 10px;
        letter-spacing: 0.06em;
        display: block;
    }
    .commentDetail .btn-transparent {
        position: absolute;
        top: 0;
        right: 0;
    }
    .commentDetail .btn-transparent i {
        font-size: 14px;
    }
    .commentBox:hover .initialsImage {
        background-color: var(--themeColor);
        color: var(--whiteColor);
        transition: all ease-in-out 0.3s;
    }
    .commentBox:hover .commentDetail {
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
        background-color: #f7fafd;
        transition: all ease-in-out 0.3s;
    }
    ul.commentsList li:last-child {
        margin-bottom: 0;
    }
    .commentBoxLoader {
        animation: commentBlink 1.2s linear infinite;
    }
    .commentBoxLoader .initialsImage {
        background-color: var(--borderColor);
        color: var(--contentColor);
    }
    .commentBoxLoader .commentBoxLoaderTime {
        height: 12px;
        width: 100px;
        background-color: #e5eef4;
        display: block;
        margin-bottom: 5px;
    }
    .commentBoxLoader .commentBoxLoaderDesc {
        height: 12px;
        width: 250px;
        background-color: #e5eef4;
        display: block;
        margin-bottom: 5px;
    }
    @keyframes commentBlink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        0% {
            opacity: 1;
        }
    }
    /* Ticket Detail end */

    /* ticket loader */
    .ticketLoadingBox {
        height: 470px;
        text-align: center;
        position: relative;
    }
    .loadSpinner {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .devicePreviewBoxLoader .loginSpinner {
        z-index:3;
    }
    .cube1, .cube2 {
        background-color: var(--themeColor);
        width: 15px;
        height: 14px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: cubeMove 1.8s infinite ease-in-out;
        animation: cubeMove 1.8s infinite ease-in-out;
    }
    .cube2 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    @keyframes cubeMove {
        25% {transform: translateX(40px) rotate(-90deg) scale(0.5);-webkit-transform: translateX(40px) rotate(-90deg) scale(0.5);}
        50% {transform: translateX(40px) translateY(40px) rotate(-179deg);-webkit-transform: translateX(40px) translateY(40px) rotate(-179deg);}
        50.1% {transform: translateX(40px) translateY(40px) rotate(-180deg);-webkit-transform: translateX(40px) translateY(40px) rotate(-180deg);}
        75% {transform: translateX(0px) translateY(40px) rotate(-270deg) scale(0.5);-webkit-transform: translateX(0px) translateY(40px) rotate(-270deg) scale(0.5);}
        100% {transform: rotate(-360deg);-webkit-transform: rotate(-360deg);}
    }
    /* end ticket loader */
}
