:root{
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --themeColor: #014fa1;
    --lightBlueColor: #006bd5;
    --contentColor: #757575;
    --borderColor: #dddddd;
    --textColor: #4a4a4a;
}

