.log-form{
  width: 100vw;
  height: 100vh;
}
.log-form input{
 width: 30em 
}
button{
  margin-left:10px;
}
form{
  width: 50em;
  margin: 0 auto;
  margin-top: 100px;
}
.login-error{
  margin-top: 20px;
    color: red;
    text-align: center;
    width: 50em;
    margin: 0 auto;
    padding: 10px;
    font-size: 19px;
}
.login-error span{
  padding: 10px;
  background: rgb(223, 84, 84);
  color: white;
  border-radius: 10px;
}
.navbar{
  display: flex;
  justify-content:space-between;
}
.navbar-brand span{
  color: white;
    padding: 5px 10px;
    border-radius: 10px;
    background: orangered;
}