@media only screen {
    /* custom react table start */
    .customReactTableBox.animated{
        animation-duration: 0.5s;
    }
    .customReactTable{
        border: 0;
    }
    .customReactTable.ReactTable .rt-thead.-header {
        box-shadow: none;
    }
    .customReactTable.ReactTable .rt-table .rt-thead .rt-tr .rt-th{
        font-size: 13px;
        padding: 10px 12px;
        text-align: left;
        color: var(--black);
        background-color: var(--white);
        border: 1px solid var(--borderColor);
        font-weight: 500;
    }
    .customReactTable.ReactTable .rt-table .rt-tbody .rt-tr-group{
        border: 0;
    }
    .customReactTable.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-td{
        padding: 10px 12px;
        font-size: 13px;
        color: var(--contentColor);
        border: 1px solid var(--borderColor);
        border-top: 0;
        transition: all ease-in-out 0.2s;
        vertical-align: middle;
        position: relative;
        font-weight: 400;
        background-color: var(--white);
    }
    .customReactTable.ReactTable .rt-table .rt-tbody .rt-tr-group:hover .rt-td{
        transition: all ease-in-out 0.2s;
        color: var(--black);
        background-color: #F2FDFE;
    }
    .customReactTable.ReactTable .rt-table .rt-thead .rt-tr .rt-th:nth-child(n+2),.customReactTable.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-td:nth-child(n+2){
        border-left: 0;
    }
    .customReactTable.ReactTable .rt-table .rt-tbody .rt-tr-group:last-child .rt-td{
        border-bottom: 0;
    }
    .customReactTable.ReactTable .-pagination{
        border: 1px solid var(--borderColor);
        padding: 4px 8px;
    }
    .customReactTable.ReactTable .-pagination .-previous button,.customReactTable.ReactTable .-pagination .-next button{
        border-radius: 5px;
        padding: 4px 16px;
        color: var(--white);
        background-color: var(--themeColor);
        text-transform: capitalize;
        position: relative;
        border-width: 2px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        transition: all ease-in-out 0.3s;
        font-size: 20px;
    }
    .customReactTable.ReactTable .-pagination .-previous button:hover,.customReactTable.ReactTable .-pagination .-next button:hover{
        transition: all ease-in-out 0.3s;
        transform: translateY(-2px);
        background-color: #0069d9;
        border-color: #0062cc;
    }
    .ReactTable .-pagination .-previous, .ReactTable .-pagination .-next{
        flex: none;
        width: 100px;

    }
    .ReactTable .-pagination .-next{
        text-align: right;
    }
    .ReactTable .-pagination .-previous{
        text-align: left;
    }
    .customReactTable.ReactTable .-pagination .-center{
        flex: none;
        width: 300px;
    }
    /* custom react table end */
}